
<script type="text/javascript">
    $(document).ready(function(){
        $(".more").click(function(){
            $(".all_text").toggle();
        });
    });
</script>
<body>


<div id="activity_detail">
    <div class="cover" style=" background: url('__PLACE_URL__/{$list->image}') no-repeat center;">



    </div>
    <div  class="title">
        <label>{$list->title}<img src="__STATIC_URL__/moban/images/hot.png" style="width: 20px"></label>

        <div class="clear"></div>
    </div>
    <div class="time">
        <div class="date">
            <img src="__STATIC_URL__/moban/images/time.png">
            <p>开放时间：{$list->open_time}</p>
            <div class="clear"></div>
        </div>
        <ul>
            <li class="phone">
                <p>门票价格<span>￥{$list->price}/人</span></p>
            </li>
            <li class="phone">
                <p>详细地点：<span>{$list->pid}</span></p>
            </li>
        </ul>
    </div>
    <div class="introduce">
        <div class="detail">
            <label>景区描述:</label>
            <div class="clear"></div>
            <div class="con">
                {$list->description}


            </div>
        </div>
    </div>
    <div class="all_comment">
        <div class="item">
            <span>热门评论</span>
        </div>
        <ul>
            {foreach $comment as $value}
            <li>
                <div class="comment_list">
                    <div class="message">
                        <span class="writer">{$value->uname}/span>

                        <div class="clear"></div>
                    </div>
                    <p>
                        {$value->content}
                    </p>
                </div>
            </li>
            {/foreach}
        </ul>
        <div class="more">
            <a href="{:url('index/comment/giveplace',['id'=>$list->id])}">我也要发表评论</a>
        </div>
    </div>
    <div class="all_comment">
        <div class="item">
            <span>相关攻略</span>
        </div>




        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-bordered" data-am-gallery="{  }" >
            {foreach $farercase as $value}
            <li>
                <div class="am-gallery-item">
                    <a href="{:url('index/farercase/details',['id'=>$value->case_id])}" class="">
                        <img src="__FARERCASE_URL__/{$value->header_image}"  alt="远方 有一个地方 那里种有我们的梦想"/>
                        <h3 class="am-gallery-title">{$value->title}</h3>

                    </a>
                </div>
            </li>
            {/foreach}
        </ul>





        <div class="more">
            <a href="{:url('index/farercase/show')}">查看全部攻略</a>
        </div>
    </div>



    <!-----------加入购物车/购买----------->

</div>
</div>
{include file="public/foot" /}

</body>

