
<script type="text/javascript">
    $(document).ready(function(){
        $(".more").click(function(){
            $(".all_text").toggle();
        });
    });
</script>
<body>


<div id="activity_detail">
    <div class="cover" style=" background: url('__PLACE_URL__/{$list->image}') no-repeat center;">


        <a title="" class="return" href="trip_list.html"></a>
    </div>
    <div  class="title">
        <label>{$list->title}<img src="__STATIC_URL__/moban/images/hot.png" style="width: 20px"></label>

        <div class="clear"></div>
    </div>
    <div class="time">
        <div class="date">
            <img src="__STATIC_URL__/moban/images/time.png">
            <p>开放时间：{$list->open_time}</p>
            <div class="clear"></div>
        </div>
        <ul>
            <li class="phone">
                <p>门票价格<span>￥{$list->price}/人</span></p>
            </li>
            <li class="phone">
                <p>详细地点：<span>{$list->pid}</span></p>
            </li>
        </ul>
    </div>
    <div class="introduce">
        <div class="detail">
            <label>景区描述:</label>
            <div class="clear"></div>
            <div class="con">
                {$list->description}
                <div class="all_text" style="display:none;">
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代，断续营造达500余年之久，共有97000余尊佛像。这里东、西两山对峙，伊水中流，形似天然门阙，石窟密布于峭壁上，南北长达1公里。龙门石窟是洛阳最经典的景点，其中最震撼的是卢舍那大佛雕像群，有半山高。
                </div>
                <a class="more" href="javascript:void(0)">
                    <i class="am-icon-angle-down" ></i>
                </a>
            </div>
        </div>
    </div>
    <div class="all_comment">
        <div class="item">
            <span>热门评论（57）</span>
        </div>
        <ul>
            <li>
                <div class="comment_list">
                    <div class="message">
                        <span class="writer">心诚则灵July</span>
                        <span class="date">2015/01/25</span>
                        <div class="clear"></div>
                    </div>
                    <p>
                        中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                    </p>
                </div>
            </li>
        </ul>
        <div class="more">
            <a href="{:url('index/comment/topurchase')}">查看全部评价</a>
        </div>
    </div>
    <div class="all_comment">
        <div class="item">
            <span>相关攻略（57）</span>
        </div>
        <ul>
            <li>
                <div class="comment_list">
                    <div class="message">
                        <span class="writer">心诚则灵July</span>
                        <span class="date">2015/01/25</span>
                        <div class="clear"></div>
                    </div>
                    <p>
                        中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                    </p>
                </div>
            </li>
        </ul>
        <div class="more">
            <a href="{:url('index/farercase/show')}">查看全部攻略</a>
        </div>
    </div>



    <!-----------加入购物车/购买----------->

</div>
</div>
{include file="public/foot" /}

</body>

