
<body>
<!-----------公共版头----------->
<div id="header">
    <span>景区</span>
</div>
<!-----------孟津旅游----------->
<div id="trip_list">
    <div id="item_name">
    </div>
    <div class="nav">
        <ul class="am-avg-sm-2">
            <li><a title="" href="{:url('index/purchase/show')}">旅游活动</a></li>
            <li><a title=""  class="cur"  href="{:url('index/place/show')}">景点展示</a></li>
        </ul>
    </div>
    <ul>
        <li class="view">
            <div class="pic">
                <img src="__STATIC_URL__/moban/images/trip_list_01.jpg">
                <div class="cont">
                    <a title="" class="button" href="{:url('index/place/details')}">查看购票</a>
                </div>
            </div>
            <div class="con">
                <span>黄河小浪底</span>
                <p>卫坡古民居翠湾果岭观唐生态园炎帝本草园洛阳粤钰青...</p>
            </div>
        </li>
        <li class="view">
            <div class="pic">
                <img src="__STATIC_URL__/moban/images/trip_list_02.jpg">
                <div class="cont">
                    <a title="" class="button" href="view_detail.html">查看购票</a>
                </div>
            </div>
            <div class="con">
                <span>黄河小浪底</span>
                <p>卫坡古民居翠湾果岭观唐生态园炎帝本草园洛阳粤钰青...</p>
            </div>
        </li>
        <li class="view">
            <div class="pic">
                <img src="__STATIC_URL__/moban/images/trip_list_02.jpg">
                <div class="cont">
                    <a title="" class="button" href="view_detail.html">查看购票</a>
                </div>
            </div>
            <div class="con">
                <span>黄河小浪底</span>
                <p>卫坡古民居翠湾果岭观唐生态园炎帝本草园洛阳粤钰青...</p>
            </div>
        </li>
        <li class="view">
            <div class="pic">
                <img src="__STATIC_URL__/moban/images/trip_list_02.jpg">
                <div class="cont">
                    <a title="" class="button" href="view_detail.html">查看购票</a>
                </div>
            </div>
            <div class="con">
                <span>黄河小浪底</span>
                <p>卫坡古民居翠湾果岭观唐生态园炎帝本草园洛阳粤钰青...</p>
            </div>
        </li>
    </ul>
    <div id="none">
        没有更多了
    </div>
</div>
<!--footer-->
{include file="public/foot" /}

</body>
