
<body>
<!-----------公共版头----------->
<div id="header">
    <span>景区</span>
</div>
<!-----------孟津旅游----------->
<div id="trip_list">
    <div id="item_name">
    </div>
    <div class="nav">
        <ul class="am-avg-sm-2">
            <li><a title="" href="{:url('index/purchase/show')}">旅游活动</a></li>
            <li><a title=""  class="cur"  href="{:url('index/place/show')}">景点展示</a></li>
        </ul>
    </div>
    <ul>

        {volist name="place" id="value"}
        <li class="view">
            <div class="pic">
                <img src="__PLACE_URL__/{$value['image']}">
                <div class="cont">
                    <a title="" class="button" href="{:url('index/place/details',['id'=>$value['id']])}">景区详情</a>
                </div>
            </div>
            <div class="con">
                <span>{$value['title']}</span>
                <p>{$value['description']}</p>
            </div>
        </li>
        {/volist}
    </ul>
    <div id="none">
        没有更多了
    </div>
</div>
<!--footer-->
{include file="public/foot" /}

</body>
