
<body>
<div id="beautiful_detail">
    <div class="cover" style=" background: url('__NOTES_URL__/{$note->header_image}') no-repeat center;">

        <a title="" class="collect" href="javascript:go();" id="chz_collect" aa="{$note->nid}"><img src="__STATIC_URL__/moban/images/collect01.png"></a>
        <div  class="title">
            <p>{$note->title}</p>
            <div class="writer">
                <img class="name" src="__STATIC_URL__/moban/images/head.jpg">
                <label>{$note->num}</label>
                <span>{$note->create_time}</span>
            </div>
            <div class="clear"></div>
        </div>

        <div id="leave">
            <div class="comment">
                <a href="{:url('index/notes/notecomment',['id'=>$note->nid])}">
                    <img src="__STATIC_URL__/moban/images/comment.png">
                    <span>{$note->pinlun}</span>
                </a>
            </div>
            <div class="thumb">
                <a title=""href="javascript:goto();" id="chz_zan">
                    <img src="__STATIC_URL__/moban/images/thumb.png">
                    <span>{$note->cishu}</span>
                </a>
            </div>
        </div>

    </div>
    <div>
        {$note->content}
    </div>
</div>
<script>
    function go(){

        var url = "{:url('index/notes/docollect')}";
        var date = {
            id:$('#chz_collect').attr('aa')


        }
        $.post(url,date,function (data) {
            alert(data.msg)
        },'JSON')
    }
    function goto(){

        var url = "{:url('index/notes/dianzan')}";
        var date = {
            id:$('#chz_collect').attr('aa')


        }
        $.post(url,date,function (data) {
            alert(data.msg)
        },'JSON')
    }
</script>
</body>
