
<body>
<div id="beautiful_detail">
    <div class="cover" style=" background: url('__NOTES_URL__/{$note->header_image}') no-repeat center;">

        <a title="" class="collect" href="#"><img src="__STATIC_URL__/moban/images/collect01.png"></a>
        <div  class="title">
            <p>{$note->title}</p>
            <div class="writer">
                <img class="name" src="__STATIC_URL__/moban/images/head.jpg">
                <label>{$note->num}</label>
                <span>{$note->create_time}</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="read">
            <img class="eye " src="__STATIC_URL__/moban/images/read.png">
            <span>999+</span>
        </div>

    </div>
    <div>
        {$note->content}
    </div>
</div>
</body>
