
<body>
<!-----------公共版头----------->
<div id="header">
    <span>游记展示</span>
    <a class="write_note" href="{:url('index/users/writenote')}"><i></i></a>
</div>
<div id="beautiful_country">
    <div id="item_name"></div>
    <ul class="am-avg-sm-2">
        {foreach $notes as $value}
        <li class="beautiful_list">
            <a  title="" href="{:url('index/notes/details',['id'=>$value['nid']])}">
                <div class="pic">
                    <img src="__NOTES_URL__/{$value->header_image}"/>
                </div>
                <div class="name">
                    <img alt="" class="head" src="__STATIC_URL__/moban/images/head.jpg">
                    <span>{$value->uname}</span>
                    <div class="num">
                        <i class="am-icon-eye"></i>
                        <span>2</span>
                        <i class="am-icon-comments"></i>
                        <span>0</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <label>{$value->title}</label>

            </a>
        </li>
        {/foreach}

    </ul>
    <div id="none">
        没有更多了
    </div>
</div>
<!--footer-->
{include file="public/foot" /}
</body>
