
<body>
<!-----------公共版头----------->
<div id="header">
    <span>游记展示</span>
    <a class="write_note" href="{:url('index/users/writenote')}"><i></i></a>
</div>
<div id="beautiful_country">
    <div id="item_name"></div>
    <ul class="am-avg-sm-2">
        <li class="beautiful_list">
            <a  title="" href="{:url('index/notes/details')}">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/beautiful_01.jpg"/>
                </div>
                <div class="name">
                    <img alt="" class="head" src="__STATIC_URL__/moban/images/head.jpg">
                    <span>181***5241</span>
                    <div class="num">
                        <i class="am-icon-eye"></i>
                        <span>2</span>
                        <i class="am-icon-comments"></i>
                        <span>0</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <label>偶遇洛阳</label>
                <p>路易威登代购speedy枕头超奢华枕头套装，国内有速读...</p>
            </a>
        </li>
        <li class="beautiful_list">
            <a  title="" href="beautiful_detail.html">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/beautiful_02.jpg"/>
                </div>
                <div class="name">
                    <img alt="" class="head" src="__STATIC_URL__/moban/images/head.jpg">
                    <span>181***5241</span>
                    <div class="num">
                        <i class="am-icon-eye"></i>
                        <span>2</span>
                        <i class="am-icon-comments"></i>
                        <span>0</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <label>偶遇洛阳</label>
                <p>路易威登代购speedy枕头超奢华枕头套装，国内有速读...</p>
            </a>
        </li>
        <li class="beautiful_list">
            <a  title="" href="beautiful_detail.html">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/beautiful_01.jpg"/>
                </div>
                <div class="name">
                    <img alt="" class="head" src="__STATIC_URL__/moban/images/head.jpg">
                    <span>181***5241</span>
                    <div class="num">
                        <i class="am-icon-eye"></i>
                        <span>2</span>
                        <i class="am-icon-comments"></i>
                        <span>0</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <label>偶遇洛阳</label>
                <p>路易威登代购speedy枕头超奢华枕头套装，国内有速读...</p>
            </a>
        </li>
        <li class="beautiful_list">
            <a  title="" href="beautiful_detail.html">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/beautiful_02.jpg"/>
                </div>
                <div class="name">
                    <img alt="" class="head" src="__STATIC_URL__/moban/images/head.jpg">
                    <span>181***5241</span>
                    <div class="num">
                        <i class="am-icon-eye"></i>
                        <span>2</span>
                        <i class="am-icon-comments"></i>
                        <span>0</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <label>偶遇洛阳</label>
                <p>路易威登代购speedy枕头超奢华枕头套装，国内有速读...</p>
            </a>
        </li>
    </ul>
    <div id="none">
        没有更多了
    </div>
</div>
<!--footer-->
{include file="public/foot" /}
</body>
