#allmap {width:400px;height:300px; overflow: hidden; zoom:1;position:relative;}
#result {width:100%;font-size:12px;height:10px;}
#xy{ display: none;}
#info select{width: 100px; margin-top:5px; margin-left:5px; }
#suggestId{ width:320px; height:23px}
#span_address{position: relative;left: -329px;}
#searchResultPanel{border:1px solid #C0C0C0; width:150px;height:auto; display:none;}
#jingWei{margin-top:4px}
#jing{height:23px;margin-left:0px;width:136px}
#wei{height:23px;width:136px}
#result img{cursor:pointer; position: relative;top: 13px; z-index:2;border-radius: 5px}
#map{height:100%;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.s_name{font-size: 14px;}

dl,dt,dd,ul,li{
		margin:0;
		padding:0;
		list-style:none;
	}
p,span{
	font-size: 0.8em;}
dt{
		font-size:0.8em;

		font-weight:bold;
		border-bottom:1px dotted #000;
		padding:5px 0 5px 5px;
		margin:5px 0;
	}
dd{
		padding:5px 0 0 5px;
	}
li{
		line-height:28px;
	}
.address{
		font-size:0.8em;
	}
option{
	font-size: 0.9em;
}
select{
	font-size:0.9em;
}