
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <legend>攻略列表</legend>
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="tpl-table-images">
                            {foreach $result as $case}
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-animation-fade">
                                <div class="tpl-table-images-content" >
                                    <div class="tpl-table-images-content-i-time">发布时间：{$case->create_time}</div>
                                    <div class="tpl-i-title">
                                       <b>{$case->title}</b>
                                    </div>
                                    <a href="javascript:;" class="tpl-table-images-content-i">
                                        <div class="tpl-table-images-content-i-info">
                                            <span class="ico">{$case->location}</span>
                                        </div>
                                        <span class="tpl-table-images-content-i-shadow"></span>
                                        <img src="http://www.farer.com/uploads/farercase/{$case->header_image}" alt="{$case->location}">
                                    </a>
                                    <div class="tpl-table-images-content-block">
                                        <div class="tpl-i-font">
                                            {$case->href}
                                        </div>
                                        <div class="tpl-i-more">
                                            <ul>
                                                <li><span class="am-icon-eye am-text-warning"> {$case->seecount}</span></li>
                                                <li><span class="am-icon-thumbs-o-up am-text-success"> {$case->user_star}</span></li>
                                                <li><span class="am-icon-user-md font-green"> 600+</span></li>
                                            </ul>
                                        </div>
                                        <div class="am-btn-toolbar" value={$case->case_id}>
                                            <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                                                <button type="button" class="am-btn am-btn-default am-btn-success" value={$case->case_id} ><span class="am-icon-plus"></span> 查看</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-warning" value={$case->case_id}><span class="am-icon-archive"></span> 审核</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-danger" value={$case->case_id}><span class="am-icon-trash-o"></span> 删除</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-secondary" value={$case->case_id}><span class="am-icon-edit"></span> 编辑</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/foreach}
                            <!--<div class="am-u-lg-12">-->
                                <!--<div class="am-cf">-->

                                    <!--<div class="am-fr">-->
                                        <!--<ul class="am-pagination tpl-pagination" id="page">-->
                                            <!--<li class="am-disabled"><a href="#">«</a></li>-->
                                            <!--<li class="am-active"><a href="#">1</a></li>-->
                                            <!--<li><a href="#">2</a></li>-->
                                            <!--<li><a href="#">3</a></li>-->
                                            <!--<li><a href="#">4</a></li>-->
                                            <!--<li><a href="#">5</a></li>-->
                                            <!--<li><a href="#">»</a></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<hr>-->
                            <!--</div>-->

                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>