<div class="tpl-portlet-components">
    <legend class="font-green bold">数据分析</legend>
    <div class="am-u-md-12 am-u-sm-12">
        <div id="github" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
    <div class="am-u-md-12 am-u-sm-12">
        <hr>
    </div>
    <div class="am-u-md-6 am-u-sm-12 row-mb">
        <div id="users" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
    <div class="am-u-md-6 am-u-sm-12 row-mb">
        <div id="case" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
    <div class="am-u-md-12 am-u-sm-12">
        <hr>
    </div>
    <div class="am-u-md-12 am-u-sm-12 row-mb">
        <div id="Total" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        Register();
        CaseChart();
        github();
        UserChart();
        function Register()
        {
            $('#Total').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Farer用户注册统计'
                },
                subtitle: {
                    text: '数据截止 2017-03，来源: <a href="https://farer.zhyunfe.com">Farer官方</a>'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '数量 (百万)'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '用户注册总量: <b>{point.y:.1f} 百万</b>'
                },
                series: [{
                    name: '总人口',
                    data: [
                        ['3月', 24.25],
                        ['4月', 23.50],
                        ['5月', 21.51],
                        ['6月', 16.78],
                        ['7月', 16.06],
                        ['8月', 15.20],
                        ['9月', 14.16],
                        ['10月', 13.51],
                        ['11月', 13.08],
                        ['12月', 12.44],
                        ['莫斯科', 12.19],
                        ['圣保罗', 12.03],
                        ['深圳', 10.46],
                        ['雅加达', 10.07],
                        ['拉合尔', 10.05],
                        ['首尔', 9.99],
                        ['武汉', 9.78],
                        ['金沙萨', 9.73],
                        ['开罗', 9.27],
                        ['墨西哥', 8.87]
                    ],
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.1f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
        }
        function github()
        {
            $('#github').highcharts({
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: '《Farer》项目组Git提交统计'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 150,
                    y: 100,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    categories: [
                        '18','19','20','21','22','23',
                        '24','25','26','27','28','29','30'
                    ]
                },
                yAxis: {
                    title: {
                        text: '提交次数'
                    },
                    categories: [
                        '0','1','2','3','4','5','6','7','8','9','20'
                    ]
                },
                tooltip: {
                    shared: true,
                    valueSuffix: ' 次数'
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    areaspline: {
                        fillOpacity: 0.5
                    }
                },
                series: [{
                    name: 'zhyunfe',
                    data: [1,2,1,4,4,4,1,4,8,5,4,4,2]
                }, {
                    name: 'HouserChang',
                    data: [2,3,1,8,4,2,2,6,6,4,3,5,3]
                }]
            });
        }
        function UserChart() {
            $('#users').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '2017 用户男女比例分析'
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '用户男女比例分析',
                    data: [
                        {
                            name: '性别女',
                            y: 12.8,
                            sliced: true,
                            selected: true
                        },
                        ['性别男', 8.5],
                        ['填写', 0.7]
                    ]
                }]
            });
        }
        function CaseChart(){
            $('#case').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '2017 商品购买度统计'
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '用户男女比例分析',
                    data: [
                        {
                            name: '未被购买',
                            y: 5,
                            sliced: true,
                            selected: true
                        },
                        ['热门',    0.2],
                        ['非热门',   4.8]
                    ]
                }]
            });
        }

    });
</script>