
<div class="tpl-content-scope">
    <div class="note note-info">
        <h3>Farer  随心行  向往的自由触手可及
            <span class="close" data-close="note"></span>
        </h3>
        <p> 《Farer》主要是搭建一个智能手机上的随心行服务平台，以“随心行”为核心，提供全国旅游目的的旅游攻略、旅游问答、旅游点评咨询，以及酒店、交通、当地游等随心行产品及服务
        </p>
    </div>
</div>

<div class="row">
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="am-icon-bar-chart"></i>
            </div>
            <div class="details">
                <div class="number"> {$usersTotal} </div>
                <div class="desc"> 总用户 </div>
            </div>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="am-icon-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number"> {$caseTotal} </div>
                <div class="desc"> 总攻略 </div>
            </div>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="am-icon-apple"></i>
            </div>
            <div class="details">
                <div class="number"> 89 </div>
                <div class="desc"> 总游记 </div>
            </div>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="am-icon-bar-chart"></i>
            </div>
            <div class="details">
                <div class="number"> {$hotelTotal} </div>
                <div class="desc"> 酒店入驻 </div>
            </div>
        </div>
    </div>



</div>

<div class="row">
    <div class="am-u-md-6 am-u-sm-12 row-mb">
        <div class="tpl-portlet">
            <div class="tpl-portlet-title">
                <div class="tpl-caption font-red ">
                    <i class="am-icon-bar-chart"></i>
                    <span> 新用户 动态资料</span>
                </div>
                <div class="actions">
                    <ul class="actions-btn">
                        <li class="purple-on">今天</li>
                        <li class="dark">本周</li>
                    </ul>
                </div>
            </div>
            <div class="tpl-scrollable">
                <div class="number-stats">
                    <div class="stat-number am-fl am-u-md-6">
                        <div class="title am-text-right"> New </div>
                        <div class="number am-text-right am-text-warning"> 2460 </div>
                    </div>
                </div>

                <table class="am-table tpl-table">
                    <thead>
                    <tr class="tpl-table-uppercase">
                        <th>用户id</th>
                        <th>昵称</th>
                        <th>头像</th>
                        <th>注册ip</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <img src="assets/img/user01.png" alt="" class="user-pic">
                            <a class="user-name" href="###">禁言小张</a>
                        </td>
                        <td>￥3213</td>
                        <td>65</td>
                        <td class="font-green bold">26%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="am-u-md-6 am-u-sm-12 row-mb">
        <div class="tpl-portlet">
            <div class="tpl-portlet-title">
                <div class="tpl-caption font-red ">
                    <i class="am-icon-bar-chart"></i>
                    <span> 游记 动态资料</span>
                </div>
                <div class="actions">
                    <ul class="actions-btn">
                        <li class="purple-on">今天</li>
                        <li class="dark">本周</li>
                    </ul>
                </div>
            </div>
            <div class="tpl-scrollable">
                <div class="number-stats">
                    <div class="stat-number am-fl am-u-md-6">
                        <div class="title am-text-right"> New </div>
                        <div class="number am-text-right am-text-warning"> 2460 </div>
                    </div>
                </div>

                <table class="am-table tpl-table">
                    <thead>
                    <tr class="tpl-table-uppercase">
                        <th>标题</th>
                        <th>发表时间</th>
                        <th>地区</th>
                        <th>关键字</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <img src="assets/img/user01.png" alt="" class="user-pic">
                            <a class="user-name" href="###">禁言小张</a>
                        </td>
                        <td>￥3213</td>
                        <td>65</td>
                        <td class="font-green bold">26%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#page').hide();
</script>