<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <meta name="description" content="Farer主要是搭建一个智能手机上的随心行服务平台，以“随心行”为核心，提供全国旅游目的的旅游攻略、旅游问答、旅游点评咨询，以及酒店、交通、当地游等随心行产品及服务
">
    <meta name="keywords" content="Farer|随心行|旅行攻略|">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="icon" type="image/png" href="__STATIC_URL__/admin/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__STATIC_URL__/admin/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI">
    <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__STATIC_URL__/admin/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__STATIC_URL__/admin/assets/css/admin.css">
    <link rel="stylesheet" href="__STATIC_URL__/admin/assets/css/app.css">
    <!--加载地图-->
    <link rel="stylesheet" href="__STATIC_URL__/admin/map/css/MapCtrl.css" />
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tzAcIFZ5xCoRwm63NcBGfoVB"></script>-->
    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <!--加载检索信息窗口-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
    <!--加载地图结束-->
    <script src="__STATIC_URL__/admin/assets/js/echarts.min.js"></script>

    <link href="__STATIC_URL__/admin/hAdmin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC_URL__/admin/hAdmin/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/admin/hAdmin/css/plugins/simditor/simditor.css" />
    <link href="__STATIC_URL__/admin/mup/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="__STATIC_URL__/admin/mup/js/fileinput.js" type="text/javascript"></script>

    <!--<link href="__STATIC_URL__/hAdmin/css/style.css?v=4.1.0" rel="stylesheet">-->
</head>
<body data-type="generalComponents">
<!--头部开始-->
<header class="am-topbar am-topbar-inverse admin-header">
    <!--左侧logo-->
    <div class="am-topbar-brand">
        <a class="tpl-logo">
            <img src="__STATIC_URL__/admin/assets/img/logo.png" alt="">
        </a>
    </div>
    <!--左侧logo-->
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link">
                    <span class="am-icon-bell-o"></span> 提醒 <span
                        class="am-badge tpl-badge-success am-round">5</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-success">5</span> 条提醒</h3><a href="###">全部</a></li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span>
                        【预览模块】移动端 查看时 手机、电脑框隐藏。</a>
                        <span class="tpl-dropdown-list-fr">3小时前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-danger"></span>
                        移动端，导航条下边距处理</a>
                        <span class="tpl-dropdown-list-fr">15分钟前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="#" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning"></span>
                        追加统计代码</a>
                        <span class="tpl-dropdown-list-fr">2天前</span>
                    </li>
                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link">
                    <span class="am-icon-comment-o"></span> 消息 <span
                        class="am-badge tpl-badge-danger am-round">9</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-danger">1000</span> 条新消息</h3><a href="###">全部</a></li>
                    <li>
                        <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="__STATIC_URL__/admin/assets/img/user02.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> Farer旅行 </span>
                                <span class="tpl-dropdown-content-time">10分钟前 </span>
                                </span>
                            <span class="tpl-dropdown-content-font"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </span>
                        </a>
                        <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="__STATIC_URL__/admin/assets/img/user03.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> Steam </span>
                                <span class="tpl-dropdown-content-time">18分钟前</span>
                                </span>
                            <span class="tpl-dropdown-content-font"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link">
                    <span class="am-icon-calendar"></span> 进度 <span
                        class="am-badge tpl-badge-primary am-round">4</span></span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-primary">1000</span> 个任务进度</h3><a href="###">全部</a></li>
                    <li>
                        <a class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">Amaze UI 用户中心 v1.2 </span>
                                <span class="percent">45%</span>
                                </span>
                            <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped"><div
                                class="am-progress-bar am-progress-bar-success" style="width:45%"></div></div>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">新闻内容页 </span>
                                <span class="percent">30%</span>
                                </span>
                            <span class="progress">
                       <div class="am-progress tpl-progress am-progress-striped"><div
                               class="am-progress-bar am-progress-bar-secondary" style="width:30%"></div></div>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">管理中心 </span>
                                <span class="percent">60%</span>
                                </span>
                            <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped"><div
                                class="am-progress-bar am-progress-bar-warning" style="width:60%"></div></div>
                    </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="am-hide-sm-only"><a id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link">
                    <span class="tpl-header-list-user-nick">Farer旅行</span><span class="tpl-header-list-user-ico"> <img
                        src="__STATIC_URL__/admin/assets/img/user01.png"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="###" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>
<!--头部结束-->
<div class="tpl-page-container tpl-page-header-fixed">
    <!--左侧栏开始-->
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
           Farer管理
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a class="nav-link active select">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a class="nav-link tpl-left-nav-link-list select">
                        <i class="am-icon-bar-chart"></i>
                        <span>数据表</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a class="nav-link tpl-left-nav-link-list select">
                        <i class="am-icon-table"></i>
                        <span>信息表</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a class="info">
                                <i class="am-icon-angle-right"></i>
                                <span>用户列表</span>
                                <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                            </a>

                            <a class="info">
                                <i class="am-icon-angle-right"></i>
                                <span>酒店列表</span>
                            </a>

                            <a class="info">
                                <i class="am-icon-angle-right"></i>
                                <span>攻略列表</span>
                            </a>


                            <a class="info">
                                <i class="am-icon-angle-right"></i>
                                <span>游记列表</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a class="nav-link tpl-left-nav-link-list select">
                        <i class="am-icon-wpforms"></i>
                        <span>添加</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: none;">
                        <li>
                            <a class="add" id="addHome">
                                <i class="am-icon-angle-right"></i>
                                <span>添加酒店</span>
                            </a>
                            <a class="add" id="addRoom">
                                <i class="am-icon-angle-right"></i>
                                <span>添加房间</span>
                            </a>
                            <a class="add" id="addCase">
                                <i class="am-icon-angle-right"></i>
                                <span>添加攻略</span>
                            </a>
                            <a class="add" id="addPlace">
                                <i class="am-icon-angle-right"></i>
                                <span>添加景区</span>
                            </a>
                            <a class="add" id="addGoods">
                                <i class="am-icon-angle-right"></i>
                                <span>添加套餐</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="login.html" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>登录</span>

                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--左侧栏结束-->
    <div class="tpl-content-wrapper">
        <!--内容公共部分-->
        <div class="tpl-content-page-title">Farer数据信息</div>
        <ol class="am-breadcrumb">
            <li>
                <a href="#" class="am-icon-home">首页</a></li>
            <li>
                <a href="#">分类</a></li>
            <li class="am-active">内容</li>
        </ol>
        <!--内容公共部分-->
        <div id="content">

        </div>
        <div class="am-u-lg-12">
            <div class="am-cf">

                <div class="am-fr">
                    <ul class="am-pagination tpl-pagination" id="page">
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">Amaze UI</div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC_URL__/admin/assets/js/amazeui.min.js"></script>
    <script src="__STATIC_URL__/admin/assets/js/iscroll.js"></script>
    <script src="__STATIC_URL__/admin/assets/js/app.js"></script>
    <script>
        $(function () {

            //通过点击左侧栏刷新右侧内容页面
            $('.select').each(function (i, obj) {
                $(obj).attr('num', i).click(function () {
                    $('.select').removeClass('active');
                    $(this).addClass('active');
                    var num = $(this).attr('num');
                    var type = ['index', 'data','manage','form'];
                    $.ajax({
                        method: 'post',
                        url: '{:url("admin/index/index")}',
                        data: {type: type[num]},
                        success: function (data) {
                            $('#content').html(data);
                        },
                        fail: function (data) {

                        },
                        async: false,
                        dataType: 'json'
                    });
                })
            });


            //信息列表点击事件
            $('.info').each(function (i, obj) {
                var type = ['user','hotel','case','note'];
                $(obj).attr('info', i).click(function () {
                    $('#page').html('');
                    $(this).addClass('active').siblings().removeClass('active');
                    var info = $(this).attr('info');
                    console.log(info);
                    $.ajax({
                        method: 'post',
                        url: '{:url("admin/index/index")}',
                        data: {type: type[info]},
                        success: function (data) {
                            $('#content').html(data.tmp);
                        },
                        fail: function (data) {},
                        async: false,
                        dataType: 'json'
                    }).always(function (data) {
                        //分页数据处理
                        pageController(data,type,info)
                        //显示用户详情
                        showDetail();
                        //用户锁定事件
                        userLock(data);
                    });

                });
            });

            //添加列表的点击事件开始
            $('.add').each(function (i, obj) {
                $(obj).attr('add',i).click(function () {
                    $('#page').html('');
                    $(this).addClass('active').siblings().removeClass('active');
                    var add = $(this).attr('add');
                    var type = ['addHotel','addRoom','addCase','addPlace'];

                    $.ajax({
                        method: 'post',
                        url: '{:url("admin/index/index")}',
                        data: {type: type[add]},
                        success: function (data) {
                            $('#content').html(data);
                        },
                        fail: function (data) {},
                        async: false,
                        dataType: 'json'
                    }).always(function () {
                            //添加攻略处理方法
                            addCaseClick();
                            //添加房间的方方法
                            addRoom();
                            //添加景区的方法
                            addPlace();
                            //添加商品的方法
                    });
                });
            });
            function addPlace()
            {
                getTime();
                //当上传了文件之后显示图片名称
                $('#placeImage').on('change', function() {
                    var fileNames = '';
                    $.each(this.files, function() {
                        fileNames += '<span class="am-badge">' + this.name + '</span> ';
                    });
                    $('#file-list').html(fileNames);
                });
                $('#place_up').on('click',function () {
                    //判断是否已经上传了图片
                    if($('#file-list').html() == '') {
                        $('.am-modal-hd').html('小主是不是忘了上传图片啊！');
                        $('#my-alert').modal();
                        return;
                    }
                    var name = $('#place_title').val();
                    var location = $('#location').val();
                    var address = $('#address').val();
                    var price  = $('#price').val();
                    var start = $('#my-startDate').text();
                    var end  = $('#my-endDate').text();
                    var open_time = start+','+end;
                    var placeImage = document.getElementById('placeImage').files[0];
                    var description = $('#description').val();
                    var form = new FormData();
                    form.append('title',name);
                    form.append('pid',location);
                    form.append('description',description);
                    form.append('image',placeImage);
                    form.append('price',price);
                    form.append('addr',address);
                    form.append('open_time',open_time);
                    $.ajax({
                        method:'post',
                        data:form,
                        url:'../place/addPlace',
                        processData: false,
                        contentType: false,
                        success:function (data) {
                            var obj= $('#addPlace');
                            addCaseData(data,obj);
                        }

                    })
                });

            }
            function getTime()
            {
                var date = new Date();
                var startDate = date.getFullYear()+'-'+date.getMonth()+'-'+date.getDate();
                var endDate = date.getFullYear()+'-'+date.getMonth()+'-'+date.getDate();
                $('#my-startDate').text(startDate);
                $('#my-endDate').text(endDate);
                var $alert = $('#alert');
                $('#my-start').datepicker().
                on('changeDate.datepicker.amui', function(event) {
                    if (event.date.valueOf() > endDate.valueOf()) {
                        $alert.find('p').text('开始日期应小于结束日期！').end().show();
                    } else {
                        $alert.hide();
                        startDate = new Date(event.date);
                        $('#my-startDate').text($('#my-start').data('date'));
                    }
                    $(this).datepicker('close');
                });

                $('#my-end').datepicker().
                on('changeDate.datepicker.amui', function(event) {
                    if (event.date.valueOf() < startDate.valueOf()) {
                        $alert.find('p').text('结束日期应大于开始日期！').end().show();
                    } else {
                        $alert.hide();
                        endDate = new Date(event.date);
                        $('#my-endDate').text($('#my-end').data('date'));
                    }
                    $(this).datepicker('close');
                });
            }
            function addRoom()
            {
                var parentid = 0;
                var roomid = 0;
                $('#hoteltype').change(function () {
                    var province = $('#s_province').val();
                    var city     = $('#s_city').val();
                    var location = province+city;
                    var type     = $('#hoteltype').val();
                    $.ajax({
                        method:'post',
                        url:'{:url("admin/hotel/find")}',
                        data:{type:type,pid:location},
                        success:function (data) {
                            console.log(data);

                            if (data.length == 0) {
                                $('#hotellist option:first-child').html('没有数据');
                                $('#hotel_name').val('该地区还没有酒店，请先添加酒店');
                                $('#nohotel').modal({
                                    relatedTarget: this,
                                    onConfirm: function() {
                                        $('body').removeClass('am-dimmer-active');
                                        $('.am-dimmer').removeClass('am-active').css('display','none');
                                        $('#addHome').trigger('click');
                                    },
                                    onCancel: function() {

                                    }
                                });
                            } else {
                                for (i=0;i<data.length;i ++) {
                                    $('#hotellist').html('');
                                    $('<option>').appendTo($('#hotellist')).attr('value',data[i].name).html((20000+data[i].id)+ ' - ' +data[i].name);
                                    $('#hotellist option:first-child').html((20000+data[i].id) + ' - ' +data[0].name);
                                }
                                $('#hotel_name').focus(function () {
                                    var name = $('#hotellist option:first-child').text();
                                    $(this).val(name);
                                    parentid = name.split('-')[0] - 20000;
                                });
                            }
                        },
                        fail:function (data) {

                        },
                        async:false,
                        dataType:'json'
                    });
                });
                $('#room_add_next').on('click',function () {
                    console.log('下一步');
                    if($('#hotel_name').val() == '该地区还没有酒店，请先添加酒店' || $('#hotel_name').val() == "") {
                        $('#nohotel').modal({
                            relatedTarget: this,
                            onConfirm: function() {
                                $('body').removeClass('am-dimmer-active');
                                $('.am-dimmer').removeClass('am-active').css('display','none');
                                $('#addHome').trigger('click');
                            },
                            onCancel: function() {

                            }
                        });
                    } else {
                        var room_type   = $('#room_type').val();
                        var money      = $('#permoney').val();
                        var number      = $('#number').val();
                        var is_cancle   = $("input[name='is_cancle']").val();
                        var description = $('#description').val();
                        console.log(room_type+money+number+is_cancle+description);
                        var form = new FormData();
                        form.append('pid',parentid);
                        form.append('room_type',room_type);
                        form.append('price',money);
                        form.append('number',number);
                        form.append('is_cancle',is_cancle);
                        form.append('description',description);
                        $.ajax({
                            method:'post',
                            data:form,
                            url:'../room/addRoom',
                            processData: false,
                            contentType: false,
                            success:function (data) {
                                roomid = data.id;
                                $('#addRoomSuc').modal({
                                    relatedTarget: this,
                                    onConfirm: function() {
                                        $('#room_step1').addClass('am-animation-scale-up am-animation-reverse').hide(0);
                                        $('<div>').delay('600').appendTo($('#content')).attr('id','room_step2');
                                        uploadImg(roomid);
                                    },
                                    onCancel: function() {

                                    }
                                });
                            }
                        });
                    }
                })
            }
            function uploadImg(roomid)
            {
                $.ajax({
                    method:'post',
                    url:"{:url('admin/room/addRoomPic')}",
                    success:function (data) {
                        console.log(roomid);
                        idnum = roomid;
                        $('#room_step2').html(data);
                    }
                }).always(function () {
//                    $('#perfect').on('click',function () {
//                        uploadImg();
//                    })
                });
            }
            /**
             * 显示用户详情页
             *
             * 通过each方法判断用户的uid
             * ajax请求到该用户的相关信息，刷新到当前页面上
             */
            function showDetail()
            {
                $('.user_detail').each(function (i,obj) {
                    $(this).on('click',function () {
                        var uid = $(this).attr('value');
                        $('#page').html('');
                        $.ajax({
                            method:'post',
                            data:{type:'detail',uid:uid},
                            url:'{:url("admin/users/details")}',
                            success:function (data) {
                                $('#content').html(data);
                            }
                        }).always(function () {
                            $('#userUp').on('click',function () {
                               var form = new FormData();
                                form.append('username',$('#nickname').val());
                                form.append('realname',$('#user-name').val());
                                form.append('email',$('#user-email').val());
                                console.log(form);
                            })
                        })
                    });
                });
            }

            /**
             * 用户锁定的方法
             */
            function userLock(data)
            {
                $('.user_dele').each(function (i,obj) {
                    $(this).on('click',function () {
                        var uid = $(this).attr('value');
                        var tag = $(this).attr('tag');
                        //0代表已经锁定用户，1代表还没锁定用户
                        //0走恢复用户，1走锁定用户
                        var tag = ($(this).attr('tag'));
                        var btn = $(this);
                        if($(this).attr('tag') == 1) {
                            $.ajax({
                                method:'post',
                                data:{uid:uid},
                                url:'{:url("admin/users/lock")}',
                                success:function (data) {
                                    btn.attr('tag',0);
                                    btn.text('已锁定');
                                },fail: function (data) {
                                },
                                async: false,
                                dataType: 'json'
                            });
                        } else {
                            $.ajax({
                                method:'post',
                                data:{uid:uid},
                                url:'{:url("admin/users/unlock")}',
                                success:function (data) {
                                    btn.attr('tag',1);
                                    btn.text('锁定用户');
                                },fail: function (data) {
                                },
                                async: false,
                                dataType: 'json'
                            });
                        }
                    })
                })
            }

            /**
             * 分页绘制
             * 通过请求得到的总数据条数和每页规定的显示页数
             * 动态创建页面按键
             * @param data   请求过来的数据
             * @param type   存放了对应控制器的值，控制器通过type值来返回不同的数据
             * @param info   左侧按钮的info值
             * 通过点击每一个分页按键，通过所带的属性
             * 通过ajax请求到对应页数的数据，刷新到当前页面
             */
            function pageController(data,type,info)
            {
                var num = Math.ceil(data.pageCount/data.limit);
                //如果是第一次加载，就讲分页图标绘画出来，不是的就不加载

                for(i=0;i<num;i++) {
                    $('<li>').appendTo($('#page')).attr('value',i).append('<a>');
                    $('li[value='+i+'] a').html(i + 1);
                }

                $('li[value=0]').addClass('am-active').addClass('am-disabled');

                //分页点击发起ajax请求开始
                $('#page li').each(function (i,obj) {
                    $(this).click(function () {
                        if ($(this).attr('value') != 0) {
                            start = obj.value * data.limit;
                        } else {
                            start = 0;
                        }
                        console.log(start);
                        $(this).addClass('am-active').siblings().removeClass('am-active');
                        $.ajax({
                            method: 'post',
                            url: '{:url("admin/index/index")}',
                            data: {start: start,type:type[info]},
                            success: function (data) {
                                $('#content').html(data.tmp);
                            },
                            fail: function (data) {

                            },
                            async: false,
                            dataType: 'json'
                        }).always(function (data) {
                            showDetail();
                            userLock(data);
                        })
                    })
                });
                //分页发起ajax结束
            }

            /**
             * 添加攻略页面的点击事件
             *
             * 1、上传图片之后显示图片名称
             * 2、点击提交之后判断是否上传了封面图片
             * 3、通过formData方式使用ajax提交数据
             * 4、根据返回来的状态码判断是否添加成功
             * 5、模态框显示提示信息
             */
            function addCaseClick()
            {
                //当上传了文件之后显示图片名称
                $('#doc-form-file').on('change', function() {
                    var fileNames = '';
                    $.each(this.files, function() {
                        fileNames += '<span class="am-badge">' + this.name + '</span> ';
                    });
                    $('#file-list').html(fileNames);
                });
                //点击提交攻略按钮的事件
                $('#case_up').on('click',function () {
                    //判断是否已经上传了图片
                    if($('#file-list').html() == '') {
                        $('.am-modal-hd').html('小主是不是忘了上传图片啊！');
                        $('#my-alert').modal();
                        return;
                    }
                    //获取各个表单的值
                    var case_title = $('#case_title').val();
                    var keywords = $("input[name='keywords']").val();
                    var location = $('#location').val();
                    var num = $('#num').val();
                    var price = $('#price').val();
                    var ywcase = $('#ywcase').val();
                    var jtcase = $('#jtcase').val();
                    var zscase = $('#zscase').val();
                    var file = document.getElementById("doc-form-file").files[0];
                    //创建formData对象，并将表单的数据添加到里面
                    var form = new FormData();
                    form.append('title',case_title);
                    form.append('type',keywords);
                    form.append('price',price);
                    form.append('file',file);
                    form.append('day',num);
                    form.append('location',location);
                    form.append('href',ywcase);
                    form.append('traffic',jtcase);
                    form.append('hotel',zscase);

                    //通过ajax提交数据
                    $.ajax({
                        method:'POST',
                        url:'{:url("admin/farercase/addcase")}',
                        data:form,
                        processData: false,
                        contentType: false,
                        success:function (data) {
                            var obj = $('#addCase');
                            addCaseData(data,obj);
                        },
                        //没有连接成功，弹出模态框和错误信息
                        fail:function (data) {
                            $('.am-modal-hd').html('502');
                            $('#my-alert').modal();
                        }
                    });
                })
            }

            /**
             * 根据ajax请求回来的数据判断是否添加成功
             * 通过模态框显示提示信息
             * @param data
             */
            function addCaseData(data,obj)
            {
                data = JSON.parse(data);
                if(!data.error){

                    //提交成功，弹出模态框
                    $('.am-modal-hd').html(data.msg);
                    $('#my-confirm').modal({
                        relatedTarget: this,
                        onConfirm: function() {

                            //点击确定按钮之后，模态框消失，模拟点击事件，重新加载当前页
                            $('body').removeClass('am-dimmer-active');
                            $('.am-dimmer').removeClass('am-active').css('display','none');
                            $('.am-modal-hd').html(data.msg);
                           obj.trigger('click');
                        },
                        onCancel: function() {
                        }
                    })

                } else {
                    //提交失败，弹出模态框和错误信息
                    $('.am-modal-hd').html(data.msg);
                    $('#my-alert').modal();
                }
            }
        });
    </script>
    <script type="text/javascript" src="__STATIC_URL__/admin/map/js/MapCtrl_info.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/admin/hAdmin/js/plugins/simditor/module.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/admin/hAdmin/js/plugins/simditor/uploader.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/admin/hAdmin/js/plugins/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/admin/hAdmin/js/plugins/simditor/simditor.js"></script>
</div>

</body>
{include file="baidu_js_push.php" /}
</html>
