<div id="baiduMap" class="am-g">
    <div id="all_dizhi" class="am-u-md-5">
        <div id="info">
            <div>
                <legend>添加酒店</legend>
                <span class="address" style="" >　区域地址：</span>
                <select id="s_province" name="s_province"></select><span class="s_name"> 省</span>  
                <select id="s_city" name="s_city" ></select><span class="s_name"> 市</span>  
                <select id="s_county" name="s_county"></select><span class="s_name"></span>
                <script class="resources library" src="../../static/map/js/area.js" type="text/javascript"></script>
                <script type="text/javascript">_init_area();</script>
            </div>
            <div id="show"></div>
        </div>
        <div id="r-result" style="margin-top:4px;">
            <span class="address" style="" >　详细地址：</span><input type="text" id="suggestId" name="suggestId" size="20" value=""/><label id="sug_label" for="suggestId"></label>
            <span id="span_address" ></span>
        </div>
        <div id="searchResultPanel"></div>

        <div id="jingWei">
            <span class="address" id="jing_span">　　　经度：</span><input type="text" id="jing" value="" >
            <span class="address" id="wei_span">纬度：</span><input type="text" id="wei" value="" >
        </div>

        <div id="result">
            <a id="cleanAll"  title="清除所有遮盖物"><img src="../../static/map/images/dt1.png" ></a>
        </div>
        <div id="xy"></div>

        <div id="allmap" >
            <div id="map"></div>
        </div>
    </div>
    <!--<div id="hotel" class="am-u-md-4">-->
        <!--<form class="am-form">-->
            <!--<fieldset>-->
                <!--<div class="am-form-group">-->
                    <!--<label for="doc-ipt-email-1">酒店名称</label>-->
                    <!--<input type="email" class="" id="doc-ipt-email-1" placeholder="酒店名称">-->
                <!--</div>-->
                <!--<div class="am-form-group">-->
                    <!--<label for="doc-select-1">酒店类型</label>-->
                    <!--<select id="doc-select-1">-->
                        <!--<option value="option1">主题型</option>-->
                        <!--<option value="option2">经济型</option>-->
                        <!--<option value="option3">豪华型</option>-->
                    <!--</select>-->
                    <!--<span class="am-form-caret"></span>-->
                <!--</div>-->

                <!--<div class="am-form-group am-form-file">-->
                    <!--<label for="doc-ipt-file-2">酒店门面照片</label>-->
                    <!--<div>-->
                        <!--<button type="button" class="am-btn am-btn-default am-btn-sm">-->
                            <!--<i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>-->
                    <!--</div>-->
                    <!--<input type="file" id="doc-ipt-file-2">-->
                <!--</div>-->
                <!--<div class="am-form-group">-->
                    <!--<label for="doc-ipt-email-1">联系方式</label>-->
                    <!--<input type="email" class="" id="doc-ipt-phone-1" placeholder="联系方式">-->
                <!--</div>-->
                <!--<div class="am-form-group">-->
                    <!--<label class="am-checkbox-inline">-->
                        <!--<input type="checkbox" value="option1"> 免费wifi-->
                    <!--</label>-->
                    <!--<label class="am-checkbox-inline">-->
                        <!--<input type="checkbox" value="option2"> 停车场-->
                    <!--</label>-->
                    <!--<label class="am-checkbox-inline">-->
                        <!--<input type="checkbox" value="option3"> 行李寄存-->
                    <!--</label>-->
                    <!--<label class="am-checkbox-inline">-->
                        <!--<input type="checkbox" value="option1"> 热水壶-->
                    <!--</label>-->
                    <!--<label class="am-checkbox-inline">-->
                        <!--<input type="checkbox" value="option2"> 24小时服务-->
                    <!--</label>-->
                    <!--<label class="am-checkbox-inline">-->
                        <!--<input type="checkbox" value="option3"> 餐厅-->
                    <!--</label>-->
                    <!--<label class="am-checkbox-inline">-->
                        <!--<input type="checkbox" value="option3"> 推送机-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div class="am-form-group">-->
                    <!--<label for="doc-ta-1">酒店描述</label>-->
                    <!--<textarea class="" rows="5" id="doc-ta-1"></textarea>-->
                <!--</div>-->
                <!--<p><button type="submit" class="am-btn am-btn-default">提交</button></p>-->
            <!--</fieldset>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->