
<div id="index">
  <!-----------首页头部----------->
  {include file="public/top" /}
  <!-----------轮播banner----------->
  <div id="index_banner">
    <div class="am-slider am-slider-default">
      <ul class="am-slides">
        <li><a title="" href="activity_detail.html"><img src="__STATIC_URL__/index/images/banner2.jpg"/></a></li>
        <li><a title="" href="activity_detail.html"><img src="__STATIC_URL__/index/images/banner4.jpg"/></a></li>
        <li><a title="" href="activity_detail.html"><img src="__STATIC_URL__/index/images/banner3.jpg"/></a></li>
        <li><a title="" href="activity_detail.html"><img src="__STATIC_URL__/index/images/banner.jpg"/></a></li>
      </ul>
    </div>
  </div>
  <!-----------栏目----------->
  <div class="order_nav">
    <ul class="box_nav am-avg-sm-4">
      <li>
        <a title="" href="{:url('index/Farercase/triplist')}">
          <img src="__STATIC_URL__/index/images/index_icon01.png"/>
          <p>攻略</p>
        </a>
      </li>
      <li>
        <a title="" href="{:url('index/Hotel/choose')}">
          <img src="__STATIC_URL__/index/images/index_icon02.png"/>
          <p>酒店</p>
        </a>
      </li>
      <li>
        <a title="" href="beautiful_detail.html">
          <img src="__STATIC_URL__/index/images/index_icon03.png"/>
          <p>游记</p>
        </a>
      </li>
      <li>
        <a title="" href="news_list.html">
          <img src="__STATIC_URL__/index/images/index_icon04.png"/>
          <p>商城</p>
        </a>
      </li>
      <div class="clear"></div>
    </ul>
  </div>



  <div id="trip_list" style="width:100%;overflow:hidden;">
    <div class="am-tabs" data-am-tabs>
      <div id="item_name">
        <img src="__STATIC_URL__/index/images/index_icon05.png">
        <span>热门攻略</span>
      </div>
      <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-bordered" data-am-gallery="{  }" >
        {foreach $content as $value}
        <li>
          <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
              <img src="__STATIC_URL__/index/gonglue/{$value['header_image']}"  alt="{$value['title']}"/>
              <h3 class="am-gallery-title">{$value['title']}</h3>
              <div class="am-gallery-desc am-gallery-title">{$value['content']}</div>
              <div class="am-gallery-desc">浏览次数<span>&nbsp;&nbsp;&nbsp;23</span></div>
            </a>
          </div>
        </li>
        {/foreach}
      </ul>
      <div id="more">
        <a title=""  href="specialty_mall.html">
          <span>更多特产 </span>
          <i class="am-icon-angle-right" ></i>
        </a>
      </div>
    </div>
  </div>


<script>
    $(function () {
        $('.am-slider').flexslider({
            controlNav: true,               // Boolean: 是否创建控制点
            directionNav: false,             // Boolean: 是否创建上/下一个按钮（previous/next）
            touch: true,                    // Boolean: 允许触摸屏触摸滑动滑块
        });
    });
</script>
<!--footer-->

  {include file="public/foot" /}

