
<script type="text/javascript">
    $(document).ready(function(){
        $(".more").click(function(){
            $(".all_text").toggle();
        });
    });
</script>
<body>
<div id="activity_detail">
    <div class="cover" style=" background: url('__PURCHASE_URL__/{$purchase->header_image}') no-repeat center;">
        <a title="" class="return" href="trip_list.html"></a>
    </div>
    <div  class="title">
        <label>{$purchase->title}</label>
        <div class="sprice">
            报名费：<font>￥{$purchase->price}</font>起/人
        </div>
        <div class="clear"></div>
    </div>
    <div class="time">
        <div class="date">
            <img src="__STATIC_URL__/moban/images/time.png">
            <p>出发时间：2017/01/23</p>
            <div class="clear"></div>
        </div>
        <ul>
            <li class="phone">
                <p>活动咨询：<span>0379-656445441</span></p>
            </li>
            <li class="phone">
                <p>集合地点：<span>{$purchase->pid}</span></p>
            </li>
        </ul>
    </div>





    <div data-am-widget="tabs"
         class="am-tabs am-tabs-default"


    >
        <ul class="am-tabs-nav am-cf">
            <li class="am-active"><a href="[data-tab-panel-0]">产品介绍</a></li>
            <li class=""><a href="[data-tab-panel-1]">费用说明</a></li>
            <li class=""><a href="[data-tab-panel-2]">使用说明</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div data-tab-panel-0 class="am-tab-panel am-active">
                {$purchase->product_desc}
            </div>
            <div data-tab-panel-1 class="am-tab-panel ">
                {$purchase->price_desc}
            </div>
            <div data-tab-panel-2 class="am-tab-panel ">
                {$purchase->use_desc}
            </div>
        </div>
        <div class="all_comment">
            <div class="item">
                <span>评论</span>
            </div>
            <ul>
                {foreach $comment as $value}
                <li>
                    <div class="comment_list">
                        <div class="message">
                            <span class="writer">{$value->uname}</span>

                            <div class="clear"></div>
                        </div>
                        <p>
                            {$value->content}
                        </p>
                    </div>
                </li>
                {/foreach}
            </ul>
            <div class="more">
                <a href="{:url('index/comment/givepurchase',['id'=>$purchase->id])}">我也要发表评论</a>
            </div>
        </div>
    </div>

























    <!-----------加入购物车/购买----------->



    <div id="buy_nav" style="position: fixed;bottom: 0;z-index: 2000">
        <a class="call" href="#"> <img src="__STATIC_URL__/moban/images/call.png"/>
            <p>电话咨询</p>
        </a>
        <a class="cur" href="{:url('index/users/sureorder',['id'=>$purchase->id])}">立即报名</a>
    </div>
</div>
</div>
</body>

