
<body>
<!-----------头部----------->
<div id="header">

    <span>商品评论</span>
</div>
<!-----------商品评价----------->
<div id="all_comment">
    <ul>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
        <li>
            <div class="comment_list">
                <div class="message">
                    <img src="__STATIC_URL__/moban/images/head.jpg">
                    <label class="name">心诚则灵527</label>
                    <span class="date">2015/01/25</span>
                    <div class="clear"></div>
                </div>
                <p>
                    中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久
                </p>
            </div>
        </li>
    </ul>
</div>



</body>

