
<script type="text/javascript">
    $(document).ready(function(){
        $(".more").click(function(){
            $(".all_text").toggle();
        });
    });
</script>
<body>


<div id="activity_detail">
    <div class="cover" style=" background: url('__FARERCASE_URL__/{$list2->header_image}') no-repeat center;">

        <a title="" class="collect" href="javascript:go();" id="chz_collect" aa="{$list2->case_id}"><img src="__STATIC_URL__/moban/images/collect01.png" style="width: 30px;margin-top: 20px;margin-left: 10px;"></a>
        <a title="" class="collect" href="#" id="chz_zan"><img src="__STATIC_URL__/moban/images/thumb.png" style="width: 30px;margin-top: 20px;margin-left: 290px;"></a>

        <script>
            function go(){

                var url = "{:url('index/farercase/docollect')}";
                var date = {
                    id:$('#chz_collect').attr('aa')


                }
                $.post(url,date,function (data) {
                    alert(data.msg)
                },'JSON')
            }
        </script>

    </div>
    <div  class="title">

        <label>{$list2->title}<img src="__STATIC_URL__/moban/images/hot.png" style="width: 20px"></label>

        <div class="clear"></div>

    </div>
    <div class="time">
        <div class="date">
            <img src="__STATIC_URL__/moban/images/time.png">
            <p>出行天数：{$list2->day}</p>
            <div class="clear"></div>
        </div>
        <ul>
            <li class="phone">
                <p>门票价格<span>{$list2->price}/人</span></p>
            </li>
            <li class="phone">
                <p>详细地点：<span>{$list2->location}</span></p>
            </li>
        </ul>
    </div>


    <div class="all_comment">
        <div class="item">
            <span>游玩攻略</span>
        </div>
        <ul>
            <li>
                <div class="comment_list">

                    <p>
                        {$list2->href}
                    </p>
                </div>
            </li>
        </ul>

    </div>
    <div class="all_comment">
        <div class="item">
            <span>交通攻略</span>
        </div>
        <ul>
            <li>
                <div class="comment_list">

                    <p>
                        {$list2->traffic}
                    </p>
                </div>
            </li>
        </ul>

    </div>
    <div class="all_comment">
        <div class="item">
            <span>住宿攻略</span>
        </div>
        <ul>
            <li>
                <div class="comment_list">

                    <p>
                        {$list2->hotel}
                    </p>
                </div>
            </li>
        </ul>

    </div>




    <!-----------加入购物车/购买----------->

</div>
</div>
{include file="public/foot" /}

</body>

