
<div id="index">
    <!-----------首页头部----------->
    {include file="public/top" /}
    <!-----------轮播banner----------->
    <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
        <img src="http://s.amazeui.org/media/i/demos/pure-1.jpg?imageView2/0/w/640" data-rel="http://s.amazeui.org/media/i/demos/pure-1.jpg" alt="春天的花开秋天的风以及冬天的落阳"/>
        <figcaption class="am-figure-capition-btm">
            <h2 style="text-align: left">攻略概况</h2>
            <div style=
                "text-align: left;overflow:hidden;

                 text-overflow:ellipsis;

                display:-webkit-box;

                -webkit-box-orient:vertical;

                -webkit-line-clamp:2;width: 100%;height: 48px;
                ">
                春天的花开秋天的风以及冬天的落阳
                春天的花开秋天的风以及冬天的落阳
                春天的花开秋天的风以及冬天的落阳
                春天的花开秋天的风以及冬天的落阳
            </div>
        </figcaption>
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2am-avg-md-3 am-avg-lg-4 am-gallery-bordered" data-am-gallery="{  }" >
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                        
                        <h3 class="am-gallery-title">故宫</h3>
                        <div class="am-gallery-desc">已售255</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">

                        <h3 class="am-gallery-title">故宫</h3>
                        <div class="am-gallery-desc">已售255</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">

                        <h3 class="am-gallery-title">故宫</h3>
                        <div class="am-gallery-desc">已售255</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">

                        <h3 class="am-gallery-title">故宫</h3>
                        <div class="am-gallery-desc">已售255</div>
                    </a>
                </div>
            </li>
            <li>
                <div class="am-gallery-item">
                    <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">

                        <h3 class="am-gallery-title">故宫</h3>
                        <div class="am-gallery-desc">已售255</div>
                    </a>
                </div>
            </li>

        </ul>


        <figcaption class="am-figure-capition-btm">
            <h2 style="text-align: left">玩法路线</h2>
            <div data-am-widget="map" class="am-map am-map-default"
                 data-name="云适配" data-address="北京市海淀区海淀大街27号亿景大厦3层西区" data-longitude="" data-latitude="" data-scaleControl="" data-zoomControl="true" data-setZoom="17" data-icon="http://amuituku.qiniudn.com/mapicon.png">
                <div id="bd-map"></div>
            </div>
        </figcaption>



        <figcaption class="am-figure-capition-btm">

            <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                <!--列表标题-->
                <div class="am-list-news-hd am-cf">
                    <!--带更多链接-->
                    <a href="###" class="">
                        <h2>自由行攻略</h2>
                        <span class="am-list-news-more am-fr">更多 &raquo;</span>
                    </a>
                </div>

                <div class="am-list-news-bd">
                    <ul class="am-list">



                        <!--缩略图在标题左边-->
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="http://www.douban.com/online/11614662/" class="">
                                    <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                                </a>
                            </div>

                            <div class=" am-u-sm-8 am-list-main">
                                <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a></h3>

                                <div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>

                            </div>
                        </li>
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="http://www.douban.com/online/11624755/" class="">
                                    <img src="http://img3.douban.com/lpic/o637240.jpg" alt="我最喜欢的一张画"/>
                                </a>
                            </div>

                            <div class=" am-u-sm-8 am-list-main">
                                <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/" class="">我最喜欢的一张画</a></h3>

                                <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>

                            </div>
                        </li>



                    </ul>
                </div>

            </div>
        </figcaption>





        <figcaption class="am-figure-capition-btm">

            <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                <!--列表标题-->
                <div class="am-list-news-hd am-cf">
                    <!--带更多链接-->
                    <a href="###" class="">
                        <h2>景区景点</h2>
                        <span class="am-list-news-more am-fr">更多 &raquo;</span>
                    </a>
                </div>

                <div class="am-list-news-bd">
                    <ul class="am-list">



                        <!--缩略图在标题左边-->
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="http://www.douban.com/online/11614662/" class="">
                                    <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                                </a>
                            </div>

                            <div class=" am-u-sm-8 am-list-main">
                                <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a></h3>

                                <div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>

                            </div>
                        </li>
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="http://www.douban.com/online/11624755/" class="">
                                    <img src="http://img3.douban.com/lpic/o637240.jpg" alt="我最喜欢的一张画"/>
                                </a>
                            </div>

                            <div class=" am-u-sm-8 am-list-main">
                                <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/" class="">我最喜欢的一张画</a></h3>

                                <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>

                            </div>
                        </li>



                    </ul>
                </div>

            </div>
        </figcaption>





        <figcaption class="am-figure-capition-btm">

            <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                <!--列表标题-->
                <div class="am-list-news-hd am-cf">
                    <!--带更多链接-->
                    <a href="###" class="">
                        <h2>自由行攻略</h2>
                        <span class="am-list-news-more am-fr">更多 &raquo;</span>
                    </a>
                </div>

                <div class="am-list-news-bd">
                    <ul class="am-list">



                        <!--缩略图在标题左边-->
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="http://www.douban.com/online/11614662/" class="">
                                    <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                                </a>
                            </div>

                            <div class=" am-u-sm-8 am-list-main">
                                <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a></h3>

                                <div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>

                            </div>
                        </li>
                        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                            <div class="am-u-sm-4 am-list-thumb">
                                <a href="http://www.douban.com/online/11624755/" class="">
                                    <img src="http://img3.douban.com/lpic/o637240.jpg" alt="我最喜欢的一张画"/>
                                </a>
                            </div>

                            <div class=" am-u-sm-8 am-list-main">
                                <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/" class="">我最喜欢的一张画</a></h3>

                                <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>

                            </div>
                        </li>



                    </ul>
                </div>

            </div>
        </figcaption>







    <script>
        $(function () {
            $('.am-slider').flexslider({
                controlNav: true,               // Boolean: 是否创建控制点
                directionNav: false,             // Boolean: 是否创建上/下一个按钮（previous/next）
                touch: true,                    // Boolean: 允许触摸屏触摸滑动滑块
            });
        });
    </script>
    <!--footer-->
    {include file="public/foot" /}

