
<body>
<!-----------公共版头----------->
<div id="header">

    <span>攻略列表</span>
</div>
<div id="news_list">
    <div id="item_name">
    </div>
    <ul>
        {foreach $list as $value}
        <li>
            <a title="" class="news" href="{:url('index/farercase/details',['id'=>$value->case_id])}">
                <div class="pic">
                    <img src="__PLACE_URL__/{$value->header_image}"/>
                </div>
                <div class="project_cont">
                    <p>孟津袖珍西瓜皮薄质优、携带方便、色泽艳丽、皮薄质优门峡阿斯顿发送到.</p>
                </div>
                <div class="price">

                    <span>12</span>
                    <i class="am-icon-eye"></i>
                    <div class="clear"></div>
                </div>
            </a>
        </li>
        {/foreach}


    </ul>
    <div id="none">
        没有更多了
    </div>
</div>
<!--footer-->
{include file="public/foot" /}
</body>
