
<body>
<!-----------公共版头----------->
<div id="header">

    <span>攻略列表</span>
</div>
<div id="news_list">
    <div id="item_name">
    </div>
    <ul>
        <li>
            <a title="" class="news" href="{:url('index/farercase/details')}">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/project_02.jpg"/>
                </div>
                <div class="project_cont">
                    <p>孟津袖珍西瓜皮薄质优、携带方便、色泽艳丽、皮薄质优门峡...</p>
                </div>
                <div class="price">
                    <p>2015/04/16</p>
                    <span>12</span>
                    <i class="am-icon-eye"></i>
                    <div class="clear"></div>
                </div>
            </a>
        </li>
        <li>
            <a title="" class="news" href="news_detail.html">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/project_02.jpg"/>
                </div>
                <div class="project_cont">
                    <p>孟津袖珍西瓜皮薄质优、携带方便、色泽艳丽、皮薄质优门峡...</p>
                </div>
                <div class="price">
                    <p>2015/04/16</p>
                    <span>12</span>
                    <i class="am-icon-eye"></i>
                    <div class="clear"></div>
                </div>
            </a>
        </li>
        <li>
            <a title="" class="news" href="news_detail.html">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/project_02.jpg"/>
                </div>
                <div class="project_cont">
                    <p>孟津袖珍西瓜皮薄质优、携带方便、色泽艳丽、皮薄质优门峡...</p>
                </div>
                <div class="price">
                    <p>2015/04/16</p>
                    <span>12</span>
                    <i class="am-icon-eye"></i>
                    <div class="clear"></div>
                </div>
            </a>
        </li>
        <li>
            <a title="" class="news" href="news_detail.html">
                <div class="pic">
                    <img src="__STATIC_URL__/moban/images/project_02.jpg"/>
                </div>
                <div class="project_cont">
                    <p>孟津袖珍西瓜皮薄质优、携带方便、色泽艳丽、皮薄质优门峡...</p>
                </div>
                <div class="price">
                    <p>2015/04/16</p>
                    <span>12</span>
                    <i class="am-icon-eye"></i>
                    <div class="clear"></div>
                </div>
            </a>
        </li>
    </ul>
    <div id="none">
        没有更多了
    </div>
</div>
<!--footer-->
{include file="public/foot" /}
</body>
