
<!-----------公共版头----------->
<div id="index">
	<!-----------首页头部----------->
    {include file="public/top" /}
	<!-----------轮播banner----------->
    <div data-am-widget="slider" class="am-slider am-slider-d3" data-am-slider='{&quot;controlNav&quot;:&quot;thumbnails&quot;,&quot;directionNav&quot;:false}' >
        <ul class="am-slides" >
            <li data-thumb="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <div class="am-slider-desc"><h2 class="am-slider-title" style="color: grey;">远方 有一个地方 那里种有我们的梦想</h2><p style="color: grey;">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div>

            </li>
            <li data-thumb="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <div class="am-slider-desc"><h2 class="am-slider-title" style="color: grey;">远方 有一个地方 那里种有我们的梦想</h2><p style="color: grey;">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div>

            </li>
            <li data-thumb="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <div class="am-slider-desc"><h2 class="am-slider-title" style="color: grey;">远方 有一个地方 那里种有我们的梦想</h2><p style="color: grey;">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div>

            </li>
            <li data-thumb="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
                <div class="am-slider-desc"><h2 class="am-slider-title" style="color: grey;">远方 有一个地方 那里种有我们的梦想</h2><p style="color: grey;">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div>

            </li>


        </ul>
    </div>

    <!-----------目的地展示----------->
    <h2 style="margin: 0 auto;width: 100%;padding-top: 5px;padding-bottom: 5px;text-align: center;cursor: pointer"><a href="{:url('index/farercase/regionslist')}">热门目的地(更多)</a></h2>
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }" >
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                    <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                    <h3 class="am-gallery-title" style="text-align: center;">北京</h3>

                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                    <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                    <h3 class="am-gallery-title" style="text-align: center;">北京</h3>

                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                    <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                    <h3 class="am-gallery-title" style="text-align: center;">北京</h3>

                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                    <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                    <h3 class="am-gallery-title" style="text-align: center;">北京</h3>

                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                    <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                    <h3 class="am-gallery-title" style="text-align: center;">北京</h3>

                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
                    <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                    <h3 class="am-gallery-title" style="text-align: center;">北京</h3>

                </a>
            </div>
        </li>

    </ul>





<!-----------孟津旅游----------->

	<script>
        $(function () {
            $('.am-slider').flexslider({
                controlNav: true,               // Boolean: 是否创建控制点
                directionNav: false,             // Boolean: 是否创建上/下一个按钮（previous/next）
                touch: true,                    // Boolean: 允许触摸屏触摸滑动滑块
            });
        });
	</script>
<!--footer-->
<div class="foot_h"></div>
    {include file="public/foot" /}

