<div id="room_step1">
    <div id="info" class="am-u-md-6">
    <form class="am-form">
        <fieldset>
            <div class="am-form-group">
                <legend>添加房间</legend>
                <span class="address">区域地址：</span>
                <select id="s_province" name="s_province" style="display: inline-block"></select>
                <select id="s_city" name="s_city" style="display: inline-block"></select>
                <select id="s_county" name="s_county" style="display: inline-block"></select>
            </div>
            <div class="am-form-group">
                <span class="hotellist">酒店列表：</span>
                <select name="type" id="hoteltype" style="display: inline-block">
                    <option value="-1">酒店类型</option>
                    <option value="0">经济</option>
                    <option value="1">豪华</option>
                    <option value="2">主题</option>
                </select>
                <select name="list" id="hotellist" style="display: inline-block;width: 45%">
                    <option value="-1">没有数据</option>
                </select>
            </div>
        </fieldset>
    </form>
    <script class="resources library" src="http://www.farer.com/static/admin/map/js/area.js" type="text/javascript"></script>
    <script type="text/javascript">_init_area();</script>

</div>

<div id="room" class="am-u-md-6">
    <form class="am-form" id="room_form">
        <fieldset>
            <div class="am-form-group">
                <label for="hotel_name">所属酒店</label>
                <input type="text"  id="hotel_name" placeholder="酒店名称">
            </div>
            <div class="am-form-group">
                <label for="room_type">房间类型</label>
                <select id="room_type">
                    <option value="0">标准</option>
                    <option value="1">大床</option>
                    <option value="2">家庭</option>
                </select>
                <span class="am-form-caret"></span>
            </div>
            <div class="am-form-group">
                <label for="permoney">单日价格</label>
                <input type="number" id="permoney" required value="0"/>
            </div>
            <div class="am-form-group">
                <label for="number">房间数量</label>
                <input type="number" id="number" required value="0"/>
            </div>
            <div class="am-form-group">
                <label>是否可以取消</label>
                <input type="radio" value="1" name="is_cancle" checked> 可以
                <input type="radio" value="1" name="is_cancle"> 不可以
            </div>
            <div class="am-form-group">
                <label for="description">房间描述</label>
                <textarea class="description" rows="5" id="description"></textarea>
            </div>
        </fieldset>
    </form>
    <p  id="room_add_next"><a class="am-btn am-btn-default">提交</a></p>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="nohotel">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">Yahoo!</div>
        <div class="am-modal-bd">
            <b>没有找到您想要的酒店，需要新增么？</b>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel style="color: red">不了，谢谢</span>
            <span class="am-modal-btn" data-am-modal-confirm>这就去</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="addRoomSuc">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">房间添加成功!</div>
        <div class="am-modal-bd">
            <b>需要添加房间照片么</b>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel style="color: red">不了，谢谢</span>
            <span class="am-modal-btn" data-am-modal-confirm>这就去</span>
        </div>
    </div>
</div>

</div>
