
<div class="am-u-md-2">
    <div class="caption font-green bold">
    <legend class="font-green bold">酒店详情</legend>
</div>
</div>
<div id="hotel" class="am-u-md-9">
    <form class="am-form">
        <input type="hidden" id="hotel_id" value="{$result->id}">
        <fieldset>
            <div class="am-form-group">
                <label for="hotel_name">酒店名称</label>
                <input type="text"  id="hotel_name" placeholder="酒店名称" value="{$result->name}">
                </div>
            <div class="am-form-group">
                <label for="hotel_type">酒店类型</label>
                <select id="hotel_type">
                    {if condition="$result->style == 2"}
                    <option value="2" selected>主题型</option>
                    {else /}
                    <option value="2">主题型</option>
                    {/if}
                    {if condition="$result->style == 1"}
                    <option value="1" selected>豪华型</option>
                    {else /}
                    <option value="1">豪华型</option>
                    {/if}
                    {if condition="$result->style == 0"}
                    <option value="0" selected>经济型</option>
                    {else /}
                    <option value="0">经济型</option>
                    {/if}
                </select>
                <span class="am-form-caret"></span>
                </div>
            <div class="am-form-group">
                <div class="am-u-sm-12">
                    <img id="header_image" src="__STATIC_UPLOAD_URL__/hotel/{$result->header_image}" width="300" height="200" />
                </div>
            </div>
            <div class="am-form-group">
                <label for="hotel_phone">联系方式</label>
                <input type="number" class="" id="hotel_phone" placeholder="联系方式" maxlength="11" value="{$result->telephone}">
            </div>
            <div class="am-form-group am-form-file">
                <label for="doc-ipt-file-2">修改门面照片</label>
                <div>
                    <button type="button" class="am-btn am-btn-default am-btn-sm">
                        <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
                </div>
                <input type="file" id="doc-ipt-file-2" name="file">
            </div>
            <div id="file-list"></div>
            <div class="am-form-group">
                <label class="am-checkbox-inline">
                    <input type="checkbox" value="1" name="service"> 免费wifi
                    </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox" value="2" name="service"> 停车场
                    </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox" value="3" name="service"> 行李寄存
                    </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox" value="4" name="service"> 热水壶
                    </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox" value="5" name="service"> 24小时服务
                    </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox" value="6" name="service"> 餐厅
                    </label>
                <label class="am-checkbox-inline">
                    <input type="checkbox" value="7" name="service"> 推送机
                    </label>
            </div>
            <script>
                $("input[name='service']").each(function () {
                    if(({$result->service}).toString().indexOf($(this).attr('value')) != -1) {
                        $(this).attr('checked','checked');
                    }
                })
            </script>
            <div class="am-form-group">
                <label for="doc-ta-1">酒店介绍</label>
                <textarea class="desciption" rows="5" id="doc-ta-1">{$result->introduce}</textarea>
                </div>
            </fieldset>
        </form>
    </div>
<script>

    var id = $('#hotel_id').val();

    $('#hotel_name').change(function () {
        var value = $(this).val();
        modifyAjax($(this),'name','酒店名称修改成功','酒店名称修改失败');
    });

    $('#hotel_type').change(function () {
        modifyAjax($(this),'style','酒店类型修改成功','酒店类型修改失败');
    });

    $('#hotel_phone').change(function () {
        modifyAjax($(this),'telephone','联系方式修改成功','联系方式修改失败');
    });

    $('#doc-ipt-file-2').on('change', function() {
        var fileNames = '';
        $.each(this.files, function() {
            fileNames += '<span class="am-badge">' + this.name + '</span> ';
        });
        $('#file-list').html(fileNames);
        var file = document.getElementById('doc-ipt-file-2').files[0];
        var form = new FormData();
        form.append('file',file);
        form.append('id',id);
        $.ajax({
            method:'post',
            url:"{:url('admin/hotel/modifyPhoto')}",
            data:form,
            processData: false,
            contentType: false,
            success:function (data) {
                $('#header_image').attr('src',"__STATIC_UPLOAD_URL__/hotel/"+data.path)
            }
        })
    });
    $("input[name='service']").change(function () {
        modifyAjax($(this),'service','酒店服务修改成功','酒店服务修改失败');
    });
    $('#doc-ta-1').change(function () {
        modifyAjax($(this),'introduce','酒店介绍修改成功','酒店介绍修改失败');
    });
    function modifyAjax(obj,key,success,fail)
    {
        var value = obj.val();
        $.ajax({
            method:'post',
            url:"{:url('admin/hotel/hotelModify')}",
            data:{key:key,value:value,id:id},
            success:function (data) {
                if(data.error){
                    alert(fail);
                } else {
                    console.log(success);
                }
            }
        })
    }
</script>