<div id="footer">
    <div class="first">
        <ul class="am-avg-sm-2">
            <li>
                <a title=""  href="{:url('index/index/index')}">
                    <img src="__STATIC_URL__/moban/images/icon-footer1-a.png"/>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a title="" href="{:url('index/purchase/show')}">
                    <img alt="" src="__STATIC_URL__/moban/images/icon-footer2-a.png"/>
                    <p>景区套餐</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="beautiful">
        <a title=""  href="javascript:;">
            <img alt="" src="__STATIC_URL__/moban/images/icon-footer3-a.png"/>
        </a>
    </div>
    <div class="last">
        <ul class="am-avg-sm-2">
            <li >
                <a title="" href="{:url('index/farercase/show')}">
                    <img alt="" src="__STATIC_URL__/moban/images/icon-footer4-a.png"/>
                    <p>攻略天地</p>
                </a>
            </li>
            <li>
                <a title="" href="{:url('index/users/center')}">
                    <img alt="" src="__STATIC_URL__/moban/images/icon-footer5-a.png"/>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>
</div>