

<div style="height: 95px;width: 100%;"></div>
<div id="footer">
    <div class="first">
        <ul class="am-avg-sm-2">
            <li class="active">
                <a title=""  href="index.html">
                    <img src="__STATIC_URL__/index/images/icon-footer01-a.png"/>
                    <p>首页</p>
                </a>
            </li>
            <li>
                <a title="" href="trip_list.html">
                    <img alt="" src="__STATIC_URL__/index/images/icon-footer2-a.png"/>
                    <p>孟津旅游</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="beautiful">
        <a title=""  href="beautiful_list.html">
            <img alt="" src="__STATIC_URL__/index/images/icon-footer3-a.png"/>
        </a>
    </div>
    <div class="last">
        <ul class="am-avg-sm-2">
            <li >
                <a title="" href="specialty_mall.html">
                    <img alt="" src="__STATIC_URL__/index/images/icon-footer4-a.png"/>
                    <p>特产商城</p>
                </a>
            </li>
            <li>
                <a title="" href="user_center.html">
                    <img alt="" src="__STATIC_URL__/index/images/icon-footer5-a.png"/>
                    <p>我的</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    $(function () {
        $('.am-slider').flexslider({
            controlNav: true,               // Boolean: 是否创建控制点
            directionNav: false,             // Boolean: 是否创建上/下一个按钮（previous/next）
            touch: true,                    // Boolean: 允许触摸屏触摸滑动滑块
        });
    });
</script>