<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--库-->
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/index/css/amazeui.css">
    <link href='__STATIC_URL__/sanjiliandong/chosen.min.css' rel='stylesheet'>
    <script type="text/javascript" src="__STATIC_URL__/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/index/js/amazeui.js"></script>
    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/index/css/style.css">
</head>

<body>
{__CONTENT__}
</body>
</html>
