<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--库-->
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/moban/css/amazeui.css">
    <script type="text/javascript" src="__STATIC_URL__/moban/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/moban/js/amazeui.js"></script>
    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/moban/css/style.css">
    <script>
        $(function () {
            $('.am-slider').flexslider({
                controlNav: true,               // Boolean: 是否创建控制点
                directionNav: false,             // Boolean: 是否创建上/下一个按钮（previous/next）
                touch: true,                    // Boolean: 允许触摸屏触摸滑动滑块
            });
        });
    </script>
</head>


{__CONTENT__}
</html>

