<div class="index_head">
    <div class="logo">
        <a href="{:url('index/index/index')}"><img src="__STATIC_URL__/index/images/logo.png"></a>
    </div>
    <!----------------搜索------------------>
    <div class="search">
        <select>
            <option value="option1">特产</option>
            <option value="option2">景点</option>
            <option value="option2">你好</option>
        </select>
        <i class="am-icon-caret-down"></i>
        <input class="text" type="search" placeholder="要买什么？" />
        <input class="submit " type="submit" value=" " />
        <i class="am-icon-search"></i>
        <div class="clear"></div>
    </div>
    <a class="phone">
        <img src="__STATIC_URL__/index/images/phone.png">
    </a>
</div>