
<!-----------公共版头----------->
<div id="header">

    <span>个人资料</span>
</div>
<!-----------个人资料----------->
<div id="user_data">
    <ul class="basic">
        <li>
            <a class="data" href="{:url('index/users/realphoto')}">
                <span>头像</span>
                <i class="am-icon-chevron-right"></i>
                <img src="__STATIC_URL__/moban/images/head.jpg"/>
                <div class="clear"></div>
            </a>
        </li>
        <li>
            <a class="data" href="{:url('index/users/realname')}">
                <span>昵称</span>
                <i class="am-icon-chevron-right"></i>
                <p>{$list->realname}</p>
                <div class="clear"></div>
            </a>
        </li>
        <li>
            <a class="data" href="{:url('index/users/realsex')}">
                <span>性别</span>
                <i class="am-icon-chevron-right"></i>
                <p>{$list->sex}</p>
                <div class="clear"></div>
            </a>
        </li>
        <li>
            <a class="data" href="{:url('index/users/realaddr')}">
                <span>居住地址</span>
                <i class="am-icon-chevron-right"></i>
                <p>{$list->addr}</p>
                <div class="clear"></div>
            </a>
        </li>
        <li>
            <a class="data" href="{:url('index/users/realbirth')}">
                <span>生日</span>
                <i class="am-icon-chevron-right"></i>
                <p>{$list->birthday}</p>
                <div class="clear"></div>
            </a>
        </li>
    </ul>
    <div class="signature">
        <a class="data" href="{:url('index/users/signature')}">
            <span>个性签名</span>
            <i class="am-icon-chevron-right"></i>
            <p>{$list->tag}</p>
            <div class="clear"></div>
        </a>
    </div>
</div>

</body>
