
<body>
<!-----------公共版头----------->
<div id="header">

    <span>我的游记</span>
</div>

<!----------------我的订单------------------>
<div id="my_note">

    <div class="cont">
        <ul >
            {foreach $notes as $value}
            <li>
                <div class="box_cont">
                    <a title="" href="{:url('index/notes/details')}">
                        <div class="pic">
                            <img src="__NOTES_URL__/{$value->header_image}"/>
                        </div>
                        <div class="project_cont">
                            <p>{$value->title}</p>
                        </div>
                        <div class="clear"></div>
                    </a>
                </div>
                <span class="date">{$value->create_time}</span>
                <div class="button">
                    <a class="gray_hollow" href="javascript:go('{$value->nid}')" >删除</a>

                </div>
            </li>
            {/foreach}
        </ul>
        <script>
            function go(caseid) {
                var url = "{:url('index/users/delnote')}"


                $.post(url,{id:caseid},function (date) {


                },'json')
                location.reload();
            }
        </script>
    </div>
</div>
<!--footer-->
{include file="public/foot" /}
</body>

