
<body>
<!-----------公共版头----------->
<div id="header">

    <span>昵称</span>
</div>
<!-----------修改昵称----------->
<div id="fill_data">
    <div class="fill">
        <div class="am-form-group">
            <input type="text/css" id="realbirth"/>
        </div>
    </div>
</div>
<div class="done">完成</div>
<script>
    $('.done').on('click',function()
    {

        var url = "{:url('index/users/dorealbirth')}";
        var date = {
            realbirth:$('#realbirth').val(),


        }
        $.post(url,date,function (data) {
            alert(data.msg)
        },'JSON')
    })

</script>
</body>
