
<body>
<!-----------公共版头----------->
<div id="header">

    <span>设置</span>
</div>
<div id="user_data">
    <div class="basic">
        <a class="data" href="{:url('index/users/changepwd')}">
            <span>修改密码</span>
            <i class="am-icon-chevron-right"></i>
            <div class="clear"></div>
        </a>
        <a class="data" href="{:url('index/users/lianxiren')}">
            <span>常用联系人</span>
            <i class="am-icon-chevron-right"></i>
            <div class="clear"></div>
        </a>
    </div>
    <input type="submit" class="logout" value="注销登录"> </input>
    <script>
        document.getElementsByClassName('logout')[0].onclick = function () {
            var a = "{:url('index/auth/logout')}";
            location.href = a;
        }
    </script>
</div>

</body>
