

    <style type="text/css"></style>

<body>

<!----------------用户头部------------------->
<div id="user_reserve">
    <!-----------公共版头----------->
    <div id="header">

        <span>套餐购买</span>
    </div>
    <!-----------门票名称价格----------->
    <div class="name">
        <div class="con">
            <p>{$info->title}</p>
            <span>请确定购买，订单提交后不能取消哦</span>
        </div>
        <div class="space">
            <p><span>{$info->price}</span>/位</p>
        </div>
        <div class="clear"></div>
    </div>
    <!-----------门票数量----------->
    <div class="number">
        <p>参加人数</p>

            <input type="text" style="margin-top: 22px;margin-left: 20px;border: none" id="per">

        <div class="clear"></div>
    </div>

    <!-----------联系人电话----------->
    <div class="phone">
        <p>手机号</p>
        <div class="am-form-group">
            <input type="text/css" placeholder="手机号" id="mobile"/>
        </div>
        <a class="user_number" href="javascript:get_mobile_code();">
            发送
        </a>
        <div class="clear"></div>
    </div>
    <div class="phone">
        <p>验证码</p>
        <div class="am-form-group">
            <input type="text/css" placeholder="用于接收验证码" id="mobile_code"/>
        </div>

        <div class="clear"></div>
    </div>
    <div id="code">{$code}</div>
    <!-----------加入购物车/购买----------->
    <div id="book">
        <div >
            <div class="money">
                <p>总价<span id="zong">0</span></p>
            </div>
            <div class="cur">
                <a  href="javascript:pd();">提交订单</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <script>
        $('#per').on('blur',function () {
            var value = $(this).val() * 36;

            $('#zong').text(value)
        })
        function get_mobile_code(){

            var url = "{:url('index/users/yzm')}";
            $.post(url, {mobile:jQuery.trim($('#mobile').val()),send_code:$('#code').text()},function(msg) {


            });
        };

        function pd(){

            var url = "{:url('index/users/pd')}";
            $.post(url, {mobile:jQuery.trim($('#mobile').val()),send_code:$('#mobile_codei').text()},function(msg) {


            });
        };



    </script>
</body>



