
<body>
<!-----------公共版头----------->
<div id="header">

    <span>我的评论</span>
</div>
<!----------------活动评论------------------>
<div id="activity_comment">
    <div class="nav">
        <ul class="am-avg-sm-4">
            <li><a class="cur" href="{:url('index/users/tripcomment')}">游记</a></li>
            <li><a href="{:url('index/users/hotelcomment')}">酒店</a></li>
            <li><a href="{:url('index/users/farercasecomment')}">攻略</a></li>
            <li><a href="{:url('index/users/placecomment')}">景区</a></li>
        </ul>
    </div>
    <div class="all_comment">
        <ul>
            <li>
                <div class="comment_list">
                    <div class="message">
                        <a title="" href="{:url('index/notes/details')}">
                            <label class="title">龙门石窟，一场身体与灵魂的旅行</label>
                        </a>
                    </div>
                    <p>中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久</p>
                    <span class="date">2015/01/25</span>
                    <div class="button">
                        <a class="gray_hollow" href="#">删除</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="comment_list">
                    <div class="message">
                        <a title="" href="beautiful_detail.html">
                            <label class="title">龙门石窟，一场身体与灵魂的旅行</label>
                        </a>
                    </div>
                    <p>中国三大石窟之一，历史悠久，开凿经历了多个朝代断续营造达500余年之中国三大石窟之一，历史悠久</p>
                    <span class="date">2015/01/25</span>
                    <div class="button">
                        <a class="gray_hollow" href="#">删除</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--footer-->
{include file="public/foot" /}
</body>

