
<body>

<div id="release">
    <div class="cover">

        <a  title="" class="change_pic" href="#">更换封面</a>
        <div  title="" class="title" >
            <span id = "names">1日游</span>
            <img id="isgod" src="__ALL_URL__/moban/images/write.png"/>
            <input type="text" id="shuru" style="display:none;">
            <input type="submit" id="tijiao" style="display:none;">
            <div class="clear"></div>
        </div>
    </div>
    <div class="fill">
        <div class="am-form-group">
            <textarea id="editor2" placeholder="请在这里填写费用说明" autofocus></textarea>
        </div>
    </div>
    <div >
        <input type="submit" class="keep" value="保存"> </input>
        <input type="submit" class="done" value="发布"> </input>
    </div>
</div>


<script type="text/javascript" src="__ALL_URL__/admin/hAdmin/js/plugins/simditor/module.js"></script>
<script type="text/javascript" src="__ALL_URL__/admin/hAdmin/js/plugins/simditor/uploader.js"></script>
<script type="text/javascript" src="__ALL_URL__/admin/hAdmin/js/plugins/simditor/hotkeys.js"></script>
<script type="text/javascript" src="__ALL_URL__/admin/hAdmin/js/plugins/simditor/simditor.js"></script>
<script type="text/javascript">

    var obj = $('#editor2');
    var str = '输入游记';
    initSimditor(obj,str);
    //初始化编辑器
    function initSimditor(obj,str)
    {
        var editor = new Simditor({
            textarea: obj,

            placeholder : str,
            toolbar : toolbar,  //工具栏
            upload : {
                url : 'upload', //文件上传的接口地址
                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey: 'image', //服务器端获取文件数据的参数名
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
            }
        });
    }
    $('#isgod').click(function(){
        $('#names').hide();
        $(this).hide();
        $('#shuru').show();
        $('#tijiao').show();
    });

    $('#tijiao').click(function(){
        $('#names').show();
        $(this).hide();
        $('#shuru').hide();
        $('#isgod').show();
    })
</script>

</body>
</html>