
<div id="index">
    <!-----------首页头部----------->
    {include file="public/top" /}
    <div style="width:100%;height: 70px"></div>
    <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
        <p>开始日期应小于结束日期！</p>
    </div>
    <div class="am-g">
        <div class="am-u-sm-6">
            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start">开始日期</button><span id="my-startDate"><br>2014-12-20</span>
        </div>
        <div class="am-u-sm-6">
            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end">结束日期</button><span id="my-endDate"><br>2014-12-25</span>
        </div>
    </div>
    <script>
        $(function() {
            var startDate = new Date(2014, 11, 20);
            var endDate = new Date(2014, 11, 25);
            var $alert = $('#my-alert');
            $('#my-start').datepicker().
            on('changeDate.datepicker.amui', function(event) {
                if (event.date.valueOf() > endDate.valueOf()) {
                    $alert.find('p').text('开始日期应小于结束日期！').end().show();
                } else {
                    $alert.hide();
                    startDate = new Date(event.date);
                    $('#my-startDate').text($('#my-start').data('date'));
                }
                $(this).datepicker('close');
            });

            $('#my-end').datepicker().
            on('changeDate.datepicker.amui', function(event) {
                if (event.date.valueOf() < startDate.valueOf()) {
                    $alert.find('p').text('结束日期应大于开始日期！').end().show();
                } else {
                    $alert.hide();
                    endDate = new Date(event.date);
                    $('#my-endDate').text($('#my-end').data('date'));
                }
                $(this).datepicker('close');
            });
        });
    </script>






    <h2 style="margin-top: 100px;">目的地</h2>
    <script type="text/javascript" src="__STATIC_URL__/sanjiliandong/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/sanjiliandong/area_chs.js"></script>
    <style type="text/css">
        .dept_select{min-width: 200px;}
        button{
            padding: 4px 10px;
            border-radius: 3px;
            border: 0;
            background: #444;
            color: #fff;
        }
    </style>





        <form action="{:url('index/hotel/holist')}" data-am-validator style="width: 300px;height: 200px;margin: 0 auto">

            <select  id="country" class="dept_select data-am-selected" disabled="true"></select>
            <select  id="province" class="dept_select data-am-selected"></select>
            <select  required id="city" class="dept_select data-am-selected"></select>
            <button id="ook">提交</button>
        </form>





    <script type="text/javascript">
        var areaObj = [];
        function initLocation(e){
            var a = 0;
            for (var m in e) {
                areaObj[a] = e[m];
                var b = 0;
                for (var n in e[m]) {
                    areaObj[a][b++] = e[m][n];
                }
                a++;
            }
        }
    </script>

    <script type="text/javascript" src="__STATIC_URL__/sanjiliandong/location_chs.js"></script>






    <h2>当前位置</h2>
    <div id="doc-geo-demo" style="width: 100%; height: 400px;"></div>

    <script src="http://api.map.baidu.com/api?v=2.0&ak=WVAXZ05oyNRXS5egLImmentg"></script>
    <script type="text/javascript">
        var country = '';
        for (var a=0;a<=_areaList.length-1;a++) {
            var objContry = _areaList[a];
            country += '<option value="'+objContry+'" a="'+(a+1)+'">'+objContry+'</option>';
        }
        $("#country").html(country).chosen().change(function(){
            var a = $("#country").find("option[value='"+$("#country").val()+"']").attr("a");
            var _province = areaObj[a];
            var province = '';
            for (var b in _province) {
                var objProvince = _province[b];
                if (objProvince.n) {
                    province += '<option value="'+objProvince.n+'" b="'+b+'">'+objProvince.n+'</option>';
                }
            }
            if (!province) {
                province = '<option value="0" b="0">------</option>';
            }
            $("#province").html(province).chosen().change(function(){
                var b = $("#province").find("option[value='"+$("#province").val()+"']").attr("b");
                var _city = areaObj[a][b];
                var city = '';
                for (var c in _city) {
                    var objCity = _city[c];
                    if (objCity.n) {
                        city += '<option value="'+objCity.n+'">'+objCity.n+'</option>';
                    }
                }
                if (!city) {
                    var city = '<option value="0">------</option>';
                }
                $("#city").html(city).chosen().change();
                $(".dept_select").trigger("chosen:updated");
            });
            $("#province").change();
            $(".dept_select").trigger("chosen:updated");
        });
        $("#country").change();
        $("#ook").click(function(){
            alert($("#country").val()+$("#province").val()+$("#city").val());
        });
    </script>



    </div>
    <script>
        $(function() {
            var geolocation = new $.AMUI.Geolocation();
            var $demoArea = $('#doc-geo-demo');

            geolocation.get({timeout: 7000}).then(function(position){
                // console.log(position.coords);
                var contentString = '你的位置：\n\t纬度 ' + position.coords.latitude +
                    '，\n\t经度 ' + position.coords.longitude + '，\n\t精确度 ' +
                    position.coords.accuracy;
                var map = new BMap.Map('doc-geo-demo');
                var point = new BMap.Point(position.coords.longitude, position.coords.latitude);
                map.centerAndZoom(point, 15);
                map.addControl(new BMap.MapTypeControl());
                map.enableScrollWheelZoom(true);
                var marker = new BMap.Marker(point);  // 创建标注
                map.addOverlay(marker);               // 将标注添加到地图中
                marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                map.panTo(point);

                marker.addEventListener('click', function() {
                    alert(contentString); // 点击点弹出信息
                });


                function ajaxJsonp(url){
                    var script = document.createElement('script');
                    script.setAttribute('src',url);
                    document.getElementsByTagName('head')[0].appendChild(script);
                }
                ajaxJsonp( 'http://api.map.baidu.com/geocoder?location='+position.coords.longitude+','+position.coords.latitude+'&key=XIA9o1gtCBpCGYC8fTKAgO0C3O98f9ho');

               $.get('http://api.map.baidu.com/geocoder?location='+position.coords.longitude+','+position.coords.latitude+'&key=XIA9o1gtCBpCGYC8fTKAgO0C3O98f9ho',{},function(data){

                   alert(data)


               },'json');
           }, function(err) {
               $demoArea.html('获取地理位置时发生错误，错误信息：<br>' + err);
               console.log(err);
            });




        });
    </script>

<script>

</script>







    <!--footer-->
    {include file="public/foot" /}

