{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <title>酒店列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--库-->
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/moban/css/amazeui.css">
    <script type="text/javascript" src="__STATIC_URL__/moban/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC_URL__/moban/js/amazeui.js"></script>
    <!-- 样式 -->
    <link rel="stylesheet" type="text/css" href="__STATIC_URL__/moban/css/style.css">
</head>
<body>
<!-----------公共版头----------->
<div id="project_list">
    <!-----------首页头部----------->
    <div class="index_head">
        <!----------------搜索------------------>
        <div class="con">
            <div class="search">
                <div class="in_search">
                    <div class="am-form-group">
                        <input type="search" id="hotel_search" placeholder="搜索" />
                    </div>
                    <a class="am-icon-search" href="#"></a>
                </div>
            </div>
        </div>
        <div class="am-dropdown" data-am-dropdown>
            <span class="am-dropdown-toggle" style="width: 40px;height: 40px;margin: 15px 0px 0px 5px;display: inline-block;font-size: 1.2em" data-am-dropdown-toggle><a
                    href="javascript:;">排序</a></span>
           <ul class="am-dropdown-content" id="hotel_or">
               <li class="am-active"><a href="javascript:;">综合排序</a></li>
               <li><a href="javascript:;">销量最多</a></li>
               <li><a href="javascript:;">价格从低到高</a></li>
               <li><a href="javascript:;">价格从高到低</a></li>

            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="project_con" id="hotel_sel">
        <input type="hidden" value="{$pid}" id="pid">
        <ul>
            {volist name="result" id="value" empty="暂时没有数据"}
            <li style="height: 110px">
                <a title="" class="news" href="{:url('index/hotel/hodetail',['id'=>$value.id])}">
                    <div class="pic">
                        <img src="__HOTEL_URL__/{$value.header_image}"/>
                    </div>
                    <div class="project_cont">
                        <p><H2>{$value.name}</H2></p>
                        <p><small>6767点评</small></p>
                    </div>
                    <div class="price" style="margin: 0px;text-align: left;padding: 0px">
                        <small style="width: 50%;display: inline-block;float: left">{$value.location|mb_substr=0,7,'utf-8'}</small>
                        <span style="float: left;">
                    <span style="color: rgb(252,156,45);font-size: 1.5em;display: inline-block;text-wrap: none">￥158</span>
                </span>
                        <small style="color: #cccccc;display: inline-block;float: left;line-height: 40px">起</small>
                        <div class="clear"></div>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
<!--footer-->
{include file="public/foot" /}
<script>
    var position = $('#pid').val();
    console.log(position);
    $('#hotel_search').keyup(function () {
        var content = $(this).val();

        $.ajax({
            method:'post',
            url:"{:url('index/hotel/hotel_sel')}",
            data:{content:content,pid:position},
            success:function (data) {
                $('#hotel_sel').html(data);
            }
        })
    });
    $('#hotel_or li').each(function (i,obj) {
        $(obj).attr('num', i).click(function () {
            $('#hotel_or li').removeClass('am-active');
            $(this).addClass('am-active');
            var num = $(this).attr('num');
            console.log($(this).text());
            $.ajax({
                method: 'post',
                url: '{:url("index/hotel/hotel_sel")}',
                data: {content:"",num:num},
                success: function (data) {
                    alert(23);
                    $('#hotel_sel').html('');
                    console.log(data);
                },
                fail: function (data) {

                },
                async: false
            });
        })
    })
</script>
</body>
</html>