<ul>
    <li style="height: 110px">
        <a title="" class="news" href="{:url('index/hotel/hodetail')}">
            <div class="pic">
                <img src="__STATIC_URL__/moban/images/project_02.jpg"/>
            </div>
            <div class="project_cont">
                <p><H2>北京大舅点接口接口</H2></p>
                <p><small>6767点评</small></p>
            </div>
            <div class="price" style="margin: 0px;text-align: left;padding: 0px">
                <small style="width: 50%;display: inline-block;float: left">北京站-北京</small>
                <span style="float: left;">
                            <span style="color: rgb(252,156,45);font-size: 1.5em;display: inline-block;text-wrap: none">￥158</span>
                        </span>
                <small style="color: #cccccc;display: inline-block;float: left;line-height: 40px">起</small>
                <div class="clear"></div>
            </div>
        </a>
    </li>
</ul>