<div class="am-u-md-12">
    <textarea id="editor2" placeholder="请在这里填写费用说明" autofocus></textarea>
    </div>
<p>&nbsp;</p>
<p class="am-g">
    <a class="am-u-md-4">&nbsp;</a>
    <a class="am-btn am-btn-warning am-u-md-1" id="return_step1">上一步</a>
    <a class="am-u-md-2">&nbsp;</a>
    <a class="am-btn am-btn-secondary am-u-md-1" id="toStep3">下一步</a>
    <a class="am-u-md-4">&nbsp;</a>
    </p>
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd" id="msg"></div>
        <div class="am-modal-bd" id="msg1"></div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel id="cancle">取消</span>
            <span class="am-modal-btn" data-am-modal-confirm id="yes">确定</span>
        </div>
    </div>
</div>